[2021-12-02 09:02] srirambv commented on #4269
Verification passed on the following devices running 1.33(21.11.30.21)
- Verified able to add more tokes via `Edit Visible Assets`
- Verified searching and selecting adds the asset to list
- Verified able to remove the token from visible list
- Verified able to add custom asset which will be shown
- Verified errors when add custom asset doesn't have a value

iPhone 7+ (iOS 14.8) | iPhone XR (iOS 1

[2021-12-02 09:17] srirambv commented on #4268
Verification passed on the following devices running 1.33(21.11.30.21)
- Verified able to search for a token from the asset search button
- Verified selecting a token loads the token info, price etc

iPhone 7+ (iOS 14.8) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2 Beta)
-- | -- | --
<video width="640" height="480" src=https://user-images.githubusercontent.com/17010094/144392182-0b65ec2d-a656-4297-

[2021-12-02 09:50] GeetaSarvadnya commented on #4372
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running  Brave version `1.33 (21.11.30.21)`

- Logged https://github.com/brave/brave-ios/issues/4603
- Logged https://github.com/brave/brave-ios/issues/4607
- Logged https://github.com/brave/brave-ios/issues/4608
- Logged https://github.com/brave/brave-ios/issues/4610
- Logged https://github.com/brave/brave-ios/issues/4619

### US R

[2021-12-02 13:43] iccub commented on #4602
Fixed in https://github.com/brave/brave-ios/pull/4594

[2021-12-02 13:43] #4602 closed, assigned to soner-yuksel

[2021-12-02 14:37] srirambv opened #4604 "Look into disabling screenshot of sensitive data(seed) on wallet"
Similar to Android(https://github.com/brave/brave-browser/issues/19864), look into disabling taking screenshot of seed words but maybe allow portfolio or possibly add a share feature for it similar to share stats

cc: @nuo-xu @kylehickinson @jamesmudgett

[2021-12-02 15:27] kylehickinson opened #4605 "Update password validation to use shared desktop implementation"
We now have a shared implementation for password validation in BraveCore (https://github.com/brave/brave-core/pull/11327) based on sec review.

The current iOS password logic was:

- More than 7 characters
- At least 1 number
- At least 1 special character (`\ ~ ! @ # $ % ^ & * ( ) + = ? ; : | < > , . ' " { } / [ ] \ - _`)

The new shared password validation logic is:

- At least 7 characters
- At

[2021-12-02 15:35] kylehickinson commented on #4259
Adding `QA/No` for this, QA will test #4588

[2021-12-02 15:36] kylehickinson commented on #4417
Superseded by #4605

[2021-12-02 15:42] kylehickinson commented on #4444
Superseded by #4445

[2021-12-02 15:58] GeetaSarvadnya opened #4607 "3dot menu intro popup isn't shown in NTP even though stats data is present in the NTP"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4372
3dot menu intro popup isn't shown in NTP even though stats data is present in the NTP

### Steps to Reproduce
  1. Clean profile 1.33 (21.11.30.21)
  2. Go through the welcome onboarding flow
  3. Tap on Yahoo.com in the last slide
  4. Click on any link on the yahoo to store trackers data in NTP
  5. Open a NTP

[2021-12-02 16:11] #4605 closed, assigned to kylehickinson

[2021-12-02 16:45] GeetaSarvadnya opened #4608 "NTP intro message has alignment issues"
### Description:
Found while testing #4372
NTP intro message has alignment issues.

### Steps to Reproduce
  1. Follow the STR from https://github.com/brave/brave-ios/issues/4607#issue-1069714773
  2. NTP intro message has alignment issues

**Actual result:**
NTP intro message has alignment issues

![image](https://user-images.githubusercontent.com/38657976/144466140-d22887f4-5102-4fee-858d-1ba50c

[2021-12-02 17:30] Brandon-T commented on #4603
Atm, this is impossible to fix. There is no API available (that is not private) to detect if we're the default browser or if it's already set.

[2021-12-02 17:30] iccub commented on #4607
fixed on latest build

[2021-12-02 17:30] #4607 closed, assigned to nobody

[2021-12-02 17:43] GeetaSarvadnya commented on #4542
Verification passed on `iPad 7th Generation version iOS 15.1` running Brave version `1.33 (21.11.30.21)`
Covered the testing in Case 1, 2,3, and 4  in https://github.com/brave/brave-ios/issues/4372#issuecomment-984465058
- Ensured tapping on the item on the popover opens up the item
- Ensured popups in the welcome onboarding flow can be dismissed

[2021-12-02 17:43] #4608 closed, assigned to nobody

[2021-12-02 18:11] GeetaSarvadnya opened #4610 "NTP intro popup message is shown when stats data is zero"
### Description:
Found while testing #4372
NTP intro popup message is shown when stats data is zero

### Steps to Reproduce
   1. Clean profile 1.33 (21.12.2.15)
   2. Click on the `Skip` button in the 2nd welcome screen `Privacy made easy` slide
   3. NTP intro popup message is shown on NTP when stats data is zero

**Actual result:**
NTP intro popup message is shown when stats data is zero

https

[2021-12-02 19:07] kylehickinson opened #4613 "Better handle private key and recovery phrases when the user copies them"
### Description:

We have copy buttons on the recovery phrase backup screens and the account private key screen, we should ensure that when this data is copied to the users pasteboard it is excluded from handoff and it expires after a given time (currently: 60s, but may change)

Pending investigation but: We should also clear the users pasteboard if they successfully import a secondary account wit

[2021-12-02 21:32] iccub commented on #4610
closing, for now we decided to update the spec and to not handle this case

[2021-12-02 21:32] #4610 closed, assigned to nobody

[2021-12-03 04:57] kylehickinson opened #4617 "Add fee notice for swap"
We currently do not explicitly display the swap fees collected by Brave. This must be visible while presenting the quote to the user.

Above swap button after slip tolerance a note should be made about swap fees.

Copy is: `Quote includes a 0.875% Brave fee.`

Desktop: https://github.com/brave/brave-core/pull/11410

[2021-12-03 04:57] kylehickinson opened #4618 "Add Price data powered by CoinGecko"
Add `Price data powered by CoinGecko` in the footer of the Asset Details screen

Desktop: https://github.com/brave/brave-core/pull/11078

[2021-12-03 06:58] GeetaSarvadnya commented on #4608
Verification passed on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.2.18)`

https://user-images.githubusercontent.com/38657976/144559158-a3c9625d-09ed-4ed0-9c29-0440048879b3.MP4

-------

Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.6.21)`

**`Example`** | **`Example`**
---------------|----------------
![IMG_0400](https://user-images.g

[2021-12-03 06:59] GeetaSarvadnya commented on #4607
Verification passed on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.2.18)`

https://user-images.githubusercontent.com/38657976/144559158-a3c9625d-09ed-4ed0-9c29-0440048879b3.MP4

----------------

Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.7.21)`

* verified the STR/Cases outlined via https://github.com/brave/brave-ios/issues/4607#is

[2021-12-03 08:25] GeetaSarvadnya opened #4619 "NTP intro message overlaps on website content when a website is entered via `You're ready to browser!` slide"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4372
NTP intro message overlaps on website content when a website is entered via `You're ready to browser!` slide

### Steps to Reproduce
  1. Clean profile 1.33 (21.12.2.18)
  2. Go through the welcome onboarding flow, enter any website in the search text box in the `You're ready to browser!` slide
  3. NTP intro messa

[2021-12-03 11:31] GeetaSarvadnya commented on #4372
Confirmed `Privacy report` implementation is not part of this release `1.33.x` got confirmation from @Brandon-T and @soner-yuksel - Please refer to the thread https://bravesoftware.slack.com/archives/C06UXF3KJ/p1638462573385900?thread_ts=1638460257.382300&cid=C06UXF3KJ

[2021-12-03 13:29] GeetaSarvadnya commented on #4373
Verification is **PASSED** `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.11.30.21)`

- Logged https://github.com/brave/brave-ios/issues/4603
- Currently, we can't set brave as default and there is no API to check whether brave is the default browser or not. So there is no point in testing the upgrade cases in this situation, In this issue default browser UI validation is c

[2021-12-03 14:11] srirambv opened #4620 "Swap transaction button sometimes slow to bring up the transaction confirmation screen leading to multiple taps and multiple transactions"
### Description:
Swap transaction button sometimes slow to bring up the transaction confirmation screen leading to multiple taps and multiple transactions

### Steps to Reproduce

   1. Open Swap menu
   2. Enter token details
   3. Tap on swap, transaction confirmation doesn't show up which can lead to multiple taps in turn multiple confirm transaction popups

**Actual result:**
Swap transaction

[2021-12-03 16:22] #4619 closed, assigned to Brandon-T

[2021-12-03 17:42] Brandon-T opened #4625 "Sometimes Playlist crashes when plugged into the car"
### Description:
- Sometimes Playlist crashes when plugged in or unplugged from the car

### Steps to Reproduce
  1. Plug or Unplug playlist from the car

**Brave Version:**
v1.32.3

[2021-12-03 18:01] GeetaSarvadnya commented on #4619
Verification passed on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.3.17)`

https://user-images.githubusercontent.com/38657976/144650719-18657680-426f-4f59-96a0-3d7a55ed355c.MP4

----------------

Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.6.21)`

**`Broken (Reproduced)`** | **`Fixed`**
-----------------------------|-------------
![I

[2021-12-03 18:06] #4613 closed, assigned to kylehickinson

[2021-12-03 18:06] #4617 closed, assigned to kylehickinson

[2021-12-03 18:06] #4618 closed, assigned to kylehickinson

[2021-12-03 18:35] #4625 closed, assigned to Brandon-T

[2021-12-03 18:45] iccub opened #4627 "Update copy for X shields blocked popup"
Header: X trackers & ads blocked!
Body: Congrats on reaching this privacy milestone.
CTA: Share the news

[2021-12-03 19:11] #4627 closed, assigned to iccub

[2021-12-03 19:45] detj commented on #3152
Ability to switch between different profiles specially for iPad OS will differentiate Brave from the default Safari browser in a profoundly meaningful way.

[2021-12-03 21:29] anthonypkeane opened #4631 "Crash when dragging the rewards panel"
### Description:
https://bravesoftware.slack.com/archives/C06UXF3KJ/p1638564762421400

Note: This crash may kill open tabs too - can you please double check.

[2021-12-03 21:37] iccub opened #4632 "Add 1.33 translations."

[2021-12-04 08:53] musa02333 commented on #4632
Open

[2021-12-04 11:18] srirambv opened #4633 "Wallet is not properly locked after timeout if its in use"
### Description:
Wallet is not properly locked after timeout if its in use

### Steps to Reproduce
  1. Create wallet
  2. Open token list and leave the device inactive so it autolocks
  3. Unlock device, wallet token list is shown instead of wallet lock screen
  4. Click on done to close token list doesn't close
  5. Swipe down the token list, wallet lock screen is shwon

**Actual result:**

http

[2021-12-04 19:16] #4633 closed, assigned to kylehickinson

[2021-12-05 04:43] #4504 closed, assigned to nuo-xu

[2021-12-05 13:52] Samadriae commented on #3228
If this feature is enabled it will definitely be a game changer for this excellent browser!

[2021-12-06 05:56] GeetaSarvadnya commented on #4378
Verification **PASSED** on `iPad 7th Generation` running Brave version `1.33 (21.12.6.2)`

- Logged https://github.com/brave/brave-ios/issues/4635
- Logged https://github.com/brave/brave-ios/issues/4637
- Logged https://github.com/brave/brave-ios/issues/4645

### US Region

<details>
<summary>Playlist callout_New user_PASSED</summary>

**YT domain**

- Confirmed the `Youtube playlist intro message

[2021-12-06 08:52] GeetaSarvadnya opened #4635 "Twitch video playlist intro message isn't shown on Twitch.tv if user dismiss the shield intro message"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4378
Twitch video playlist intro message isn't shown on Twitch.tv if user dismiss the shield intro message

### Steps to Reproduce
  1. Clean profile 1.33 (21.12.6.2)
  2. Skip the welcome onboarding flow
  3. Open Twitch.tv
  4. Once the shield intro message is shown on twitch.com, tap outside the intro message to dism

[2021-12-06 10:49] srirambv opened #4636 "Unable to register fingerprint message but still allows to unlock wallet"
### Description:
Unable to register fingerprint message but still allows to unlock wallet

### Steps to Reproduce
  1. Clean install TF build
  2. Enable Wallet, enter password
  3. Shows Enable fingerprint mesasge
  4. Click on enable, throws error
  5. Lock wallet and try to unlock, shows fingerprint message, allows to unlock

**Actual result:**

https://user-images.githubusercontent.com/1701009

[2021-12-06 10:59] GeetaSarvadnya opened #4637 "Referral check confirmation is not shown for clean install leading to empty tiles on NTP"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4378
NTP top tiles are not shown when you have something copied in the clipboard

### Steps to Reproduce
  1. Copy something in the clipboard
  2. Install the latest app 1.33 (21.12.6.2) from TF
  3. Skip or view the welcome onboarding flow
  4. NTP is blank, doesn't show any top tiles, due to onboarding flow, referral

[2021-12-06 11:46] srirambv opened #4638 "Stats onboarding border is not dismissed when scrolled to Brave News"
### Description:
Stats onboarding border is not dismissed when scrolled to Brave News

### Steps to Reproduce
  1. Clean install build 1.33
  2. Skip onboarding and go to NTP, shows border on stats
  3. Scroll down and enable Brave News
  4. Stats border is retained even on News. Try tapping inside the border to load news article doesn't work

**Actual result:**
![image](https://user-images.github

[2021-12-06 13:37] GeetaSarvadnya commented on #4638
Not reproducible on iPhone 8 and iPad 7th Generation on the latest build of 1.33

[2021-12-06 20:02] #4620 closed, assigned to nuo-xu

[2021-12-06 20:17] nuo-xu opened #4641 "Ethereum address validation"
In Send Screen, users will be asked to input the `to` account address to send the crypto to.
We need some validation before enable the `Send` button to proceed the tx.
1. address cannot be the same account address as `from`
2. address cannot be contract address (need to iterate all tokens from TokenRegistery + user's assets)

Give a warning message if address is not valid.

cc @jamesmudgett @bbond

[2021-12-06 20:48] #4635 closed, assigned to nobody

[2021-12-06 22:03] #4638 closed, assigned to nobody

[2021-12-06 22:25] kylehickinson opened #4643 "Hide private elements during screen recording and alert user when screenshot is taken on private screens"
## Test Case

### Recording

- Start recording your screen
- Verify on backup recovery phrase flow that words are not visible
- Verify on account private key screen that key is hidden while recording
- End recording
- Verify screens appear as normal
- If possible repeat while AirPlaying screen to a different device (TV/Mac/QuickTime/etc.)

### Screenshots

- Visit backup screen
- Take a screenshot

[2021-12-07 06:38] GeetaSarvadnya commented on #4635
Verification passed on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.6.21)`

https://user-images.githubusercontent.com/38657976/144979166-fc1db9ee-cb5f-41af-bf8d-2af6603ba40f.MP4

Verification passed on `iPhone 6s Plus` with iOS 15.1 running `Brave version 1.33 (21.12.9.19)`
Verification passed on `iPhone 7 Plus` with iOS 14.4.2 running `Brave version 1.33 (21.12.9.19)`

[2021-12-07 11:01] GeetaSarvadnya opened #4645 "Incorrect tooltip is shown when 5000+ trackers and ads are blocked"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4378

Incorrect tooltip is shown when 5000 trackers and ads are blocked
### Steps to Reproduce
  1. Clean profile 1.33 (21.12.6.21)
  2. Skip onboarding flow
  3. Open a new tab and load cnn.com
  4. Reload cnn.com until  `1000+` trackers and ads blocked` in NTP
  5. Make sure the active tab is cnn.com
  6. Kill the app

[2021-12-07 15:53] GeetaSarvadnya commented on #4627
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.6.21)`
- Encountered https://github.com/brave/brave-ios/issues/4645
- Encountered https://github.com/brave/brave-ios/issues/4655
- Logged https://github.com/brave/brave-ios/issues/4678

### US Region

<details>
<summary>1000 Trackers and Ads blocked popup_New user_PASSED</summary>

- Confirmed trac

[2021-12-07 17:40] GeetaSarvadnya opened #4648 "1000 trackers and ads blocked tooltip isn't shown for existing users"
### Description:

Found while testing https://github.com/brave/brave-ios/issues/4627
1000 trackers and ads blocked tooltip isn't shown for existing users
### Steps to Reproduce

Scenario 1:

  1. Clean install 1.32.x (App store version)
  2. Open a new tab and load cnn.com
  3. Repeat step 2 until `1000+ trackers and ads blocked` in NTP
  4. Make sure cnn.com is the active tab
  5. Upgrade the pro

[2021-12-07 17:57] kjozwiak commented on #3534
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using the following build:

[code]

* verified the STR/Cases outlined via https://github.com/brave/brave-ios/issues/3534#issue-859833145 and ensured that PDF's don't appear blank when opening the tab tray and then re-selecting the same PDF or tapping on `Done`.

**`1.32.3 (21.11.17.19)`** | **`1.33 (21.12.6.21)`**
------------------------

[2021-12-07 18:26] kjozwiak commented on #3751
Went through the following STR/Cases for all of the platforms mentioned below:

* ensured that 1Password is enabled via iOS `Settings` -> `Passwords` -> `AutoFill Passwords and is allowed to autofill
* loaded twitter.com and tapped on `Sign In`
* entered my username and clicked on `Next`
* tapped on the password field and selected to AuoFill using 1Password
* tapped on `Log In`

Used the following

[2021-12-07 18:31] kjozwiak commented on #3751
Quick note: Looks like the website doesn't correctly get rendered when you're auto-filling the password for 1Password. The `Login` button gets placed over the password field. However, clicking on `Login` works fine when this happens. You can down on the page which will start moving the `Login` button down and the password field will start to be visible. Added example screenshots for context. This

[2021-12-07 18:39] kjozwiak commented on #4336
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using the following build:

[code]

**`Example`** | **`Example`**
---------------|----------------
![IMG_0398](https://user-images.githubusercontent.com/2602313/145086615-eb3f26e3-cf4e-487c-a8d0-7e943abca31c.png) |![IMG_0399](https://user-images.githubusercontent.com/2602313/145086623-4685d26f-1bad-4a49-8886-b22e6fc6da72.png)

-----------

[2021-12-07 19:29] #4643 closed, assigned to kylehickinson

[2021-12-07 20:14] #4641 closed, assigned to nuo-xu

[2021-12-07 20:53] #4601 closed, assigned to soner-yuksel

[2021-12-07 20:53] #4645 closed, assigned to soner-yuksel

[2021-12-07 21:40] #4637 closed, assigned to nobody

[2021-12-07 21:52] kjozwiak opened #4651 "browser crashing when moving/editing or adding `Favorites` via NTP"
### Description:

When either editing/adding or drag & dropping favorite tiles on `iOS 14`, brave will crash instantly. This is 100% reproducible on `iOS 14` only. Crashes aren't present in `iOS 15`. Found while running through https://github.com/brave/brave-ios/issues/4463. This also happens if you go into `Show More` and attempt to move around any of the `Favorites` in that view as well.

Crash

[2021-12-07 21:54] kjozwiak commented on #4463
Went through the following STR/Cases on the devices/iOS versions mentioned below:

* verified the STR/Cases outlined via https://github.com/brave/brave-ios/issues/4463#issue-1044715498
* verified the STR/Cases outlined via https://github.com/brave/brave-ios/pull/4469#issue-1044948903
* ensured that you can re-order `Favourites` within NTP without any issues
* ensured that you can re-order `Favouri

[2021-12-07 21:55] kjozwiak commented on #4463
Found https://github.com/brave/brave-ios/issues/4651 while running through the above and will need to be tested on `iOS 14` once https://github.com/brave/brave-ios/issues/4651 has been resolved/fixed.

[2021-12-07 22:46] LaurenWags commented on #4534
@Brandon-T should this be in the 1.33 milestone?

[2021-12-07 23:42] kjozwiak commented on #4534
yup, I'll add it @LaurenWags. Should have had the `1.33.x` milestone once this was merged.

[2021-12-08 03:56] kjozwiak commented on #4463
As per above, `iOS 14` will be checked/tested via https://github.com/brave/brave-ios/issues/4651. As per @soner-yuksel, the iOS team is looking into fixing the issue which is more challenging. Worst case, moving `Favorites` under the NTP will be disabled on `iOS 14` if a solution can't be found in time for `1.33.x`.

[2021-12-08 03:58] kjozwiak commented on #4578
Going to label this one as a duplicate and will use https://github.com/brave/brave-ios/issues/4651 which I labelled as `release/blocking`. As per https://github.com/brave/brave-ios/issues/4463#issuecomment-988475923, the cases mentioned via https://github.com/brave/brave-ios/issues/4463#issuecomment-988289255 will be QA'd in https://github.com/brave/brave-ios/issues/4651 once a solution is found f

[2021-12-08 03:58] #4578 closed, assigned to nobody

[2021-12-08 04:01] kjozwiak commented on #4651
Once the above is fixed, we'll need to run through the cases mentioned in https://github.com/brave/brave-ios/issues/4463#issuecomment-988289255 as well. However, if a solution can't be found, it sounds like we'll disable the ability to move the `Favorites` via NTP on `iOS 14` which means the test cases will differ.

[2021-12-08 04:43] kjozwiak opened #4652 "opening new tab via tab view doesn't initiate onboarding modals under NTP"
### Description:

If a user hasn't seen/initiated the NTP onboarding modals, opening a new tab via `+` under the tab view won't start the onboarding. Only way to start the onboarding would be to go back to the original NTP that was opened after launching Brave for the first time or clicking the `+` using the bottom toolbar.

### Steps to Reproduce

  1. download/install `1.33 (21.12.7.21)` via TF

[2021-12-08 04:45] kjozwiak commented on #4607
Created https://github.com/brave/brave-ios/issues/4652 when running through the above cases.

[2021-12-08 05:04] kjozwiak commented on #4483
Went through the following STR/Cases using the devices/iOS versions mentioned below:

* ensured that auto-filling passwords under https://www.uniqlo.com/jp/auth/v1/login worked without issues using 1Password
* ensured that the password was correctly auto-filled by Brave if it was saved after initially logging into the website

Devices/iOS versions used for verification:

* Verification **PASSED**

[2021-12-08 05:11] kjozwiak commented on #4464
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.7.21)`
* Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 15.1` using `1.33 (21.12.7.21)`

This was checked and verified on all platforms via https://github.com/brave/brave-ios/issues/4463#issuecomment-988289255. However, due to https://github.com/brave/brave-ios/issues/4651, this can't be checked on `iOS

[2021-12-08 06:58] GeetaSarvadnya commented on #4637
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.7.21)`
- Confirmed referral code check screen is shown when something is copied in the clipborad
- Confirmed NTP top tiles are shown when welcome onboarding flow skipped or viewed

https://user-images.githubusercontent.com/38657976/145162871-9f945e89-8e3e-4299-8847-727e577e94cb.MP4

[2021-12-08 07:31] GeetaSarvadnya opened #4653 "NTP onboarding message is not shown when clipboard check is done on clean install"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4637

NTP onboarding message is not shown when clipboard check is done on clean install

### Steps to Reproduce
  1. Copy something in the clipboard
  2. Install the latest build `1.33 (21.12.7.21)`
  3. Confirm Referral code check screen is presented
  4. Click on `Skip` in any slide in the onboarding flow
  5. NTP is

[2021-12-08 09:58] GeetaSarvadnya opened #4654 "Follow up of #4645 - Incorrect tooltip is shown when 5000+ trackers and ads are blocked"
### Description:
Incorrect tooltip is shown when 5000 trackers and ads are blocked

### Steps to Reproduce

  1. Clean profile 1.33 (21.12.7.21)
  2. Skip onboarding flow
  3. Open a new tab and load cnn.com
  4. Repeat step 3 until `5000+ trackers and ads blocked` in NTP
  5. Make sure the active tab is cnn.com
  6. Kill the app and relaunch brave
  7. `1000 trackers and ads blocked!` tooltip is

[2021-12-08 09:59] GeetaSarvadnya commented on #4645
The issue is still not fixed in the latest build `1.33 (21.12.7.21)`. Logged a follow up issue https://github.com/brave/brave-ios/issues/4654

[2021-12-08 11:09] GeetaSarvadnya commented on #4653
This issue persists for JP region also.

[2021-12-08 11:14] GeetaSarvadnya commented on #4601
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.7.21)`

- Confirmed https://brave.com/ja/ntp-tutorial/ page opened in the background tab for the new users
- Confirmed https://brave.com/ja/ntp-tutorial/ is not the active tab or focused if user skip the onboarding flow (NTP is the active tab)
- Confirmed if user select/enter any site in the last s

[2021-12-08 12:03] GeetaSarvadnya commented on #4450
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.7.21)`

- Confirmed that white highlight circles pulsate continuously, even while popping is showing
- Shield intro detailed testing is done in Case 3, 4 in  https://github.com/brave/brave-ios/issues/4372#issuecomment-984465058

https://user-images.githubusercontent.com/38657976/145205371-9d91cb61-

[2021-12-08 12:58] srirambv commented on #4418
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.7.21)
- Verified wallet icon is updated on menu and in settings

Menu (Light) | Menu (Dark) | Setting (Light) | Setting (Dark)
-- | -- | -- | --
![image](https://user-images.githubusercontent.com/17010094/145211794-775c9b00-b32e-494b-93b8-9656378d2fb9.png) | ![image](https://user-images.githubusercontent.com/17010094/145211923-808

[2021-12-08 13:19] srirambv commented on #4461
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.7.21)

<details>
<summary>Settings and footer padding looks fixed</summary>

Light | Dark
-- | --
![image](https://user-images.githubusercontent.com/17010094/145215081-f451f248-0e43-40f3-bea1-44c01e742d2e.png) | ![image](https://user-images.githubusercontent.com/17010094/145215071-18628428-4285-4cfd-a551-d1fb3c587b97.png)

</detai

[2021-12-08 13:38] GeetaSarvadnya opened #4655 "After upgrade unable to pass through the referral code check"
### Description:
 After upgrade unable to pass the referral code check

Looks like this issue got introduced after fixing the issue https://github.com/brave/brave-ios/issues/4637

### Steps to Reproduce

  1. Copy something in the clipboard
  2. Clean profile `1.32.3 (21.11.17.19)`
  3. `Anonymous referral code check` popup screen is displayed
  4. Clicked on `Allow one-time clipboard check`
  5.

[2021-12-08 13:47] GeetaSarvadnya commented on #4648
1000 trackers and ads upgrade scenario is applicable only for the JP region not for the US. Hence closing the issue as invalid

[2021-12-08 13:47] #4648 closed, assigned to nobody

[2021-12-08 14:17] GeetaSarvadnya commented on #4654
The issue is fixed in https://github.com/brave/brave-ios/issues/4645 hence closing this as dup

[2021-12-08 14:17] #4654 closed, assigned to nobody

[2021-12-08 14:19] GeetaSarvadnya commented on #4645
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.7.21)`

![IMG_0176](https://user-images.githubusercontent.com/38657976/145223870-73d46970-c0c7-4a8e-b524-c158b83a7dab.PNG)

-------------------

Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.8.23)`

**`1K Example`** | **`1K Example`**
------------------|------------

[2021-12-08 15:31] kylehickinson opened #4659 "Move wallet to features section on NTP and add beta label"

[2021-12-08 15:32] GeetaSarvadnya opened #4660 "Tap on the shield in NTP is showing up the message as `Local Brave shield UP`"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4539
Tap on the shield in NTP is showing up the message as `Local Brave shield UP`

Similar issue https://github.com/brave/brave-ios/issues/4462
### Steps to Reproduce
  1. Clean profile 1.32 or 1.33
  2. Tap on the disabled shield in NTP

**Actual result:**
Tap on the shield in NTP is showing up the message as `Local B

[2021-12-08 16:03] #4659 closed, assigned to kylehickinson

[2021-12-08 16:33] GeetaSarvadnya commented on #4539
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.7.21)`

- Reproduced the issue in-app store version 1.32
- Confirmed `"Publisher not verified"` message is not shown in NTP Brave Rewards panel in 1.33

![IMG_0181](https://user-images.githubusercontent.com/38657976/145246574-21dacf4f-8e56-45f7-b6b4-1bccb6befdc5.PNG)

-------

Verification **PASSED

[2021-12-08 16:39] soner-yuksel commented on #4651
Temporary change for Issue #4651 - Disabling Favourites ordering for iOS 14 until next Release (1.34) in PR-[4657](https://github.com/brave/brave-ios/pull/4657)

[2021-12-08 16:41] LaurenWags opened #4662 "iOS <--> iOS sync won't complete"
### Description:

Sync will not work in scenario below.

### Steps to Reproduce

From Cross-timezone tests (see https://github.com/brave/internal/issues/832#issuecomment-973471650)
1. Setup iOS device 1 on the Los Angeles timezone.
2. Setup iOS device 2 on the Auckland (NZ) timezone.
3. Create a Sync chain on iOS 1.
4. Attempt to join the Sync chain on iOS 2 (it should WORK but it does not).
5. Re

[2021-12-08 16:52] stephendonner commented on #4662
Reproduced this too.

For the failure in step 4, `Attempt to join the Sync chain on iOS 2 (it should WORK but it does not)`, I get this: `Unable to create new sync group.  Expired`

For the failure in step 7, `Attempt to join the Sync chain on iOS 1 (it should WORK but it does not).`, I get this: `Unable to create new sync group.  Too New`

step 4 | step 7
-------|------
![Image from iOS (2)](http

[2021-12-08 17:12] srirambv commented on #4420
Verification passed on the following devices running 1.33(21.12.7.21)
- Verified option to enable biometric unlock is shown for restoring a wallet

iPhone 7+ (iOS 14.8.1) | iPad Pro (iOS 15.2)
-- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145252664-ed6aa8be-f137-4c84-83d7-e157e2235fe9.png> | <img width=400 src=https://user-images.githubusercontent.com/17010094/14525

[2021-12-08 17:23] stephendonner opened #4663 "Shouldn't be able to join expired Sync chain"
### Description:
Shouldn't be able to join expired Sync chain

This is a followup issue from https://github.com/brave/brave-browser/issues/19550.

### Steps to Reproduce
1. Create a Sync chain on Desktop and keep it open until Step 6 is done.
2. Wait 20 minutes / forward system clock on both iOS and Desktop.
3. Attempt to join Sync chain on iOS (it should WORK, and DOES).
4. Reset iOS profile (rei

[2021-12-08 17:46] kjozwiak commented on #4662
hmm seems like @Brandon-T @soner-yuksel and myself can't reproduce the above but we should figure out why @stephendonner & @LaurenWags are having issues. I basically ran through the STR/Cases outlined via https://github.com/brave/brave-ios/issues/4662#issue-1074607426 as per the following:

* changed the time zone on `iPhone 6s+` running `14.6` and downloaded/installed `1.33.x (21.21.7.21)` via TF

[2021-12-08 18:06] srirambv opened #4665 "Browser crash when wallet is closed"
### Description:
Browser crash when wallet is closed

### Steps to Reproduce
  1. Login to wallet
  2. Swipe down to close wallet
  3. Browser crash

**Actual result:**
Browser crash when wallet is closed

**Expected result:**
No crash just close wallet and move on

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easy

**Brave Version:**
1.33

**Device details:**
iPhone 7+ (iOS 1

[2021-12-08 18:07] #4665 closed, assigned to nobody

[2021-12-08 18:11] srirambv opened #4666 "Browser crash when network is changed"
### Description:
Browser crash when network is changed

### Steps to Reproduce
  1. Login to wallet
  2 Change network via drop down
  3. Browser crash

**Actual result:**
Browser crash when network is changed

**Expected result:**
No crash just close wallet and move on

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easy

**Brave Version:**
1.33

**Device details:**
iPhone 7+ (

[2021-12-08 18:12] #4666 closed, assigned to kylehickinson

[2021-12-08 18:13] srirambv commented on #4413
Verification passed on iPhone 7+ with iOS 14.8.1  running 1.33(21.12.7.21)
- Verified changing network and resetting wallet and restarting over doesn't retain it
- Encountered [#4665](#4665) & [#4666](#4666)
-------
Verification passed on iPhone XR  with iOS 15.1 running 1.33(21.12.7.21)
- Verified changing network and resetting wallet and restarting over doesn't retain it
-------
Verification pas

[2021-12-08 18:20] srirambv commented on #4389
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.7.21)
- Verified backup banner colour is updated to warning-yellow

Light | Dark
-- | --
![image](https://user-images.githubusercontent.com/17010094/145262438-935d505c-ed14-4dfd-9849-fc690a516fce.png) | ![image](https://user-images.githubusercontent.com/17010094/145262446-2623ccc7-f4a9-44e9-8813-9c2ee74feb49.png)

--------
Verifi

[2021-12-08 18:22] srirambv commented on #4399
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.7.21)
- Verified able to successfully reset wallet
-----
Verification passed on iPhoneXR with iOS 15.1 running 1.33(21.12.7.21)
- Verified able to successfully reset wallet
------
Verification passed on iPad Pro with iOS 15.2 running 1.33(21.12.7.21)
- Verified able to successfully reset wallet

[2021-12-08 18:28] srirambv commented on #4394
Verification passed on the following devices running 1.33(21.12.7.21)
- Verified swap is disabled and notification is shown about it

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145263358-461313db-e1c7-4618-aabb-f34d56695c22.png> | <img width=250 src=https://user-images.githubusercontent.com/

[2021-12-08 18:32] srirambv commented on #4617
Verification passed on the following devices running 1.33(21.12.7.21)
- Verified there is a fee notice on swap screen

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145264087-da6f0ed9-e7e4-4847-a21a-6ec911423cdc.png> | <img width=250 src=https://user-images.githubusercontent.com/17010094/145264

[2021-12-08 18:34] srirambv commented on #4618
Verification passed on the following devices running 1.33(21.12.7.21)
- Verified there is a notice about Price data provided by CoinGecko

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145264473-7f2a6d6d-134c-443f-9890-d0a303dd3a00.png> | <img width=250 src=https://user-images.githubusercontent

[2021-12-08 18:38] LaurenWags commented on #4662
Device reboot for both @stephendonner and I seems to have solved this problem. Closing as we are unable to reproduce.

Additional notes from @Brandon-T that could be helpful:

[code]

[2021-12-08 18:38] #4662 closed, assigned to nobody

[2021-12-08 18:59] srirambv opened #4667 "Browser crash when trying to send/swap transaction"
### Description:
Browser crash when trying to send/swap transaction

### Steps to Reproduce
  1. Initiate a swap/send transaction
  2. Select values and click on send/swap
  3. Browser crash

**Actual result:**
Browser crash

**Expected result:**
No crash

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easy

**Brave Version:**
1.33(21.12.7.21)

**Device details:**
iPad Pro (iOS

[2021-12-08 19:01] srirambv commented on #4537
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.7.21)
- Verified EIP-1559 support is available for both send and swap transactions

Default | Custom
-- | --
![image](https://user-images.githubusercontent.com/17010094/145267943-b5a54358-bba6-4d86-b00c-9f0b38841041.png) | ![image](https://user-images.githubusercontent.com/17010094/145267949-a925f3fd-9f0a-4cc7-8b5e-7058a84586cd.pn

[2021-12-08 19:02] srirambv commented on #4667
Need to verify #4537 for iPad once this issue is fixed

[2021-12-08 19:09] srirambv commented on #4273
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.7.21)
- Verified Send Crypto opens up send transaction details
- Verified able to select token from the list
- Verified able to send tokens to another address specified
- Verified send transaction fails when receiving address is a contract address
- Verified send transaction fails when receiving address is same as sending address

[2021-12-08 19:12] srirambv commented on #4272
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.7.21)
- Verified Buy crypto provides an input field to enter value
- Verified clicking on `Continue to Wyre` pre-populates the entered amount on the landing page
------------
Verification passed on iPhone XR with iOS 15.1 running 1.33(21.12.7.21)
- Verified Buy crypto provides an input field to enter value
- Verified clicking on `

[2021-12-08 19:13] srirambv commented on #4271
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.7.21)
- Verified Swap Crypto opens up Swap transaction details
- Verified able to select token from the list of swap from and swap to
- Verified after amount is entered it automatically calculates the swap value for the receiving token
------------
Verification passed on iPhone XR with iOS 15.1 running 1.33(21.12.7.21)
- Verified

[2021-12-08 19:30] srirambv commented on #4274
Verification passed on the following devices running 1.33(21.12.7.21)
- Verified prices, balances, price history, and transactions are show correctly

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145271842-c2d38970-45fc-43ae-b6de-da36a3fbc138.png> | <img width=240 src=https://user-images.githu

[2021-12-08 19:30] srirambv commented on #4270
Verification passed on the following devices running 1.33(21.12.7.21)
- Verified prices, balances, price history, and transactions are show correctly

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145271328-45d4f200-00e8-414f-99a0-c1609c72ce9e.png> | <img width=240 src=https://user-images.githu

[2021-12-08 19:38] srirambv commented on #4487
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.7.21)
- Verified creating wallet shows all default wallet assets and portfolio
- Verified restoring wallet shows all user wallet assets and portfolio
- Verified unlocking wallet doesn't cause the wallet to show empty values
------------
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.7.21)
- Verified creating w

[2021-12-08 19:49] srirambv commented on #4371
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.7.21)
- Verified for each network, Buy UI shows specific network details

Ethereum | Rinkeby | Ropsten | Goerli | Kovan
-- | -- | -- | -- | --
![image](https://user-images.githubusercontent.com/17010094/145274441-cd69c83f-0c0f-4f45-8872-253e7100a85e.png) | ![image](https://user-images.githubusercontent.com/17010094/145274454-642d

[2021-12-08 20:15] kylehickinson opened #4669 "Wallet doesn't auto-lock after continued app usage"
### Steps to Reproduce
  1. Unlock wallet
  2. Leave wallet
  3. Use the app for longer than your auto-lock setting is set to

**Actual result:**
Wallet is unlocked

**Expected result:**
Wallet should be locked

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Always

[2021-12-08 20:36] kjozwiak opened #4672 "Japan NTP tutorial page is being set as active tab when skipping on-boarding"
### Description:

When skipping the new onboarding flow while on the Japan locale, the https://brave.com/ja/ntp-tutorial page is opened and made active which means the user doesn't see a NTP and won't see the initial on-boarding modals via the NTP until they open a new tab.

### Steps to Reproduce

  1. download/install `1.33 (21.12.7.21)` via TF (ensure Region/Language is set to `Japan` before la

[2021-12-08 20:40] kjozwiak commented on #4601
Ran into https://github.com/brave/brave-ios/issues/4672 on `iOS 14`. I don't think it's a blocker and users will still see the NTP on-boarding modals when they open a new NTP. Everything else is working as expected. Going to label this `QA Pass - iPhone`. We'll run through it again via https://github.com/brave/brave-ios/issues/4672 on `iOS 14` if it ends up getting fixed.

[2021-12-08 20:50] #4652 closed, assigned to Brandon-T

[2021-12-08 20:50] #4653 closed, assigned to Brandon-T

[2021-12-08 20:50] #4655 closed, assigned to Brandon-T

[2021-12-08 21:00] #4660 closed, assigned to Brandon-T

[2021-12-08 21:08] #4669 closed, assigned to kylehickinson

[2021-12-08 21:09] #4667 closed, assigned to nobody

[2021-12-08 21:21] soner-yuksel commented on #4672
Cant reproduce this, It is working as expected. @kjozwiak

https://user-images.githubusercontent.com/6643505/145286043-bc090562-08f2-4496-9d42-7447c85e13cb.mp4

[2021-12-08 21:55] kjozwiak commented on #3713
Labelling this one as `Verified/Passed` as verifications were completed via https://github.com/brave/brave-ios/issues/4463#issuecomment-988289255. The only remaining issue is https://github.com/brave/brave-ios/issues/4651 on `iOS 14` which will be QA'd in that particular GH issue. As per https://github.com/brave/brave-ios/issues/4651#issuecomment-988978983, we're reverting the change for `iOS 14`

[2021-12-08 22:57] kjozwiak opened #4675 "can't bypass the clipboard permission screen when there's something in clipboard"
### Description:

Looks like `1.33 (21.12.8.21)` regressed the clipboard permission screen. If you have something within the clipboard, Brave will warn the user and ask for permission to check and see if we can find a referral code. However, both `Allow one-time clipboard check` & `Do not allow this check` buttons are not working so there's no way to get past the screen.

### Steps to Reproduce

[2021-12-08 22:58] #4675 closed, assigned to nobody

[2021-12-09 00:25] kjozwiak commented on #4299
Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 15.1` using `1.33 (21.12.8.23)`

* verified the STR/Cases outlined via https://github.com/brave/brave-ios/issues/4299#issue-1019940084
* ensured that you can switch between tabs using all the arrow keys (left/right & up/down) without issues

[2021-12-09 00:58] kjozwiak commented on #4113
Went through the following STR/Cases on the various devices/iOS versions mentioned below:

* Note: Basically followed the examples from https://github.com/brave/brave-ios/issues/4113#issue-984274429

**`Test Case #1 - Reddit`**

* ensure that you can login into reddit without any issues
* once logged in, click on the `Save Login` on the modal that Brave displays
* logout and ensure that the `usern

[2021-12-09 01:23] stephendonner commented on #4402
Verified `PASSED` using Brave 1.33 (21.12.8.23) on an iPhone 6s running 15.0.2 and another iPhone 6s running 14.4.2.

Steps:

1. opened the `Podcasts` app
2. played a podcast
3. launched Brave `1.33 (21.12.8.23)`
4. loaded `https://pitchfork.com/reviews/albums/various-artists-ill-be-your-mirror-a-tribute-to-the-velvet-underground-and-nico/`
5. confirmed podcast is still playing audibly in the back

[2021-12-09 02:26] stephendonner commented on #4542
Verified `PASSED` using Brave `1.33 (21.12.8.22)` on an iPhone 6s running iOS `15.0.2` and another iPhone 6s running iOS `14.4.2`

Confirmed I could tap to dismiss the pulse and popover animations on the onboarding screens.

iOS 14.4.2 | iOS 15.0.2
------------|------------
<video src="https://user-images.githubusercontent.com/387249/145322836-5e7dfa4b-589b-4d2d-97d9-4a405c022847.MP4"> | <video sr

[2021-12-09 02:53] stephendonner commented on #4637
Verified `PASSED` using Brave Dev `1.33 (21.12.8.22)` on an iPhone 6s, iOS 15.0.2, and another iPhone 6s, iOS 14.4.2.

Confirmed I could dismiss all popovers
Confirmed the new-tab page had sites (`YouTube`, `Amazon`, `Wikipedia`, and `Twitter`) shown

14.4.2 | 15.0.2
-------|--------
<video src="https://user-images.githubusercontent.com/387249/145325910-471f169f-cd59-4b1b-a734-8f4409b2ccd6.MP4"> |

[2021-12-09 02:59] kjozwiak commented on #4675
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.8.23)`
* Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.8.23)`
* Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 15.1` using `1.33 (21.12.8.23)`

STR/Cases used for verification:

* ensured that the clipboard permission screen doesn't appear if there's nothing in the clipboar

[2021-12-09 03:14] kjozwiak commented on #4653
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.8.23)`
* Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.8.23)`
* Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 15.1` using `1.33 (21.12.8.23)`

Using the STR/Cases mentioned via https://github.com/brave/brave-ios/issues/4653#issue-1074097797, ensured that:

* ensured that t

[2021-12-09 04:31] kjozwiak commented on #4652
@Brandon-T still doesn't seem to work with `1.33 (21.12.8.23)`. Basically went through the same cases as mentioned in https://github.com/brave/brave-ios/issues/4652#issue-1074005889.

STR:

* launch `1.33 (21.12.8.23)`
* run through on-boarding and pick any website from the list
* once the page loads, open the tab view and click on `+` to open a new tab

You'll notice that none of the NTP on-board

[2021-12-09 05:16] kjozwiak commented on #4655
Went through the STR/Cases outlined via https://github.com/brave/brave-ios/issues/4655#issue-1074422254 and ensured that the clipboard permission isn't being displayed after upgrading. I also ensured that both `Allow one-time clipboard` and `Do not allow this check` cases worked.

* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.8.23)`
* Verification **PASSED** on `

[2021-12-09 05:21] kjozwiak commented on #4552
Assuming there's nothing that QA needs to do here so labelling this as `QA/No` and `release-notes/exclude`. @Brandon-T please change the labels if that's if there's anything that QA needs to here including STR/Cases 👍

[2021-12-09 05:26] kjozwiak commented on #4549
Closing and labelling this as `QA/No` & `release-notes/exclude` as there's GH issues for each of the above features that QA is using for verification and adding testing notes within those issues. We'll also run through manual passes.

[2021-12-09 05:36] srirambv opened #4676 "Browser crash when launching wallet"
### Description:
Browser crash when launching wallet

### Steps to Reproduce
  1. Clean install and enable wallet
  2. Browser crashes

**Actual result:**
Browser crash when launching wallet

**Expected result:**
No crash

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easy

**Brave Version:**
1.33(21.12.8.23)

**Device details:**
iPhone 7+ (iOS 14.8). No crash on iOS 15 devices

[2021-12-09 05:51] srirambv commented on #4315
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.8.23)
- Verified new setting for lock wallet is available in wallet menu
- Verified able to change the auto-lock value from default 5 to any of the preset values
- Verified wallet auto-locks after the specified time has passed
- Verified setting auto-lock to 1 min and using the wallet for more than a minute doesn't lock it
- Verifi

[2021-12-09 05:52] srirambv commented on #4676
Verify #4315 once this is fixed

[2021-12-09 06:18] GeetaSarvadnya commented on #4660
Verification **PASSED** on `iPad version iOS 15.1` running `Brave version 1.33 (21.12.7.21)`

- Verified the STR from the description and ensured click on the disabled shield in NTP is not showing up the shield popover

------------------

Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.8.23)`

**`Regression`** | **`Fixed`**
------------------|-------------
![IMG_042

[2021-12-09 07:53] srirambv opened #4677 "Selecting Swap from a token doesn't set it as the swap from token"
### Description:
Selecting Swap from a token doesn't set it as the swap from token

### Steps to Reproduce

1.  Create/Restore wallet
2. Select BAT from portfolio
3. Select swap on the token details page
4. Swap sheet opens up but its set fro Swap from ETH to BAT instead of Swap from BAT to ETH

**Actual result:**
Selecting Swap from a token doesn't set it as the swap from token

**Expected result

[2021-12-09 10:55] GeetaSarvadnya opened #4678 "Trackers and ads blocked tooltips are not shown in an upgraded profile for both JP and US regions"
### Description:

Found while testing https://github.com/brave/brave-ios/issues/4627

Trackers and ads blocked tooltips are not shown in an upgraded profile for both JP and US regions
### Steps to Reproduce

**Scenario 1: US region**

  1. Clean profile 1.32 (app store version)
  2. Upgrade the profile to 1.33 (TF latest version)
  3. Open cnn.com and reload until 1000 trackers and ads blocked in

[2021-12-09 14:36] LaurenWags commented on #4534
iOS <--> iOS sync verification notes are here: https://github.com/brave/brave-browser/issues/19550#issuecomment-988183230

iOS <--> Android and iOS <--> desktop cases will also be covered under https://github.com/brave/brave-browser/issues/19550.

[2021-12-09 15:18] kylehickinson commented on #4636
Investigating led to finding that the is `errSecDuplicateItem` which is caused by setting up biometrics after deleting the app with the same password as you did in a prior install because keychain items persist even if you delete the app. Will add a check to remove the keychain entry if you install Brave and dont have a wallet created

[2021-12-09 16:29] #4636 closed, assigned to kylehickinson

[2021-12-09 16:44] #4676 closed, assigned to kylehickinson

[2021-12-09 16:52] GeetaSarvadnya opened #4682 "VPN callout is not happening after 4 days"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4373
Vpn callout after 4 days is not working as expected
### Steps to Reproduce
  1. Clean profile 1.33
  2. Skip the onboarding flow
  3. Dismiss the NTP intro messages
  4. Kill the app
  5. Set the device date ahead by 4 days if it's production build install
  6. Relaunch app
  7. Vpn callout is not happening

**Actu

[2021-12-09 17:37] kjozwiak commented on #4638
Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.8.23)`

**`1.33(21.12.6.2)`** | **`1.33 (21.12.8.23)`**
----------------------|-------------------------
![IMG_0216](https://user-images.githubusercontent.com/2602313/145447164-d935eddb-2c57-4528-8bcb-364a1b387c8d.png) | ![IMG_0217](https://user-images.githubusercontent.com/2602313/145447207-4b2a6501-6b11-4b1f-885a-a5c89a

[2021-12-09 17:47] stephendonner opened #4684 "Race condition allows on-screen keyboard to pre-empt onboarding tour"
### Description:
Race condition allows on-screen keyboard to pre-empt onboarding tour

### Steps to Reproduce
1. install `1.33 (21.12.8.23)`
2. launch Brave
3. on the `Privacy made easy` screen, tap on `Skip` at the bottom
4. (timing on this is pretty difficult) now, tap on the URL bar, to bring up the on-screen keyboard
5. look at the screen

**Actual result:**

![Image from iOS (7)](https://user

[2021-12-09 17:50] kjozwiak opened #4685 "disable the ability to move NTP `Favorite` tiles on `iOS 14`"
### Description:

Due to https://github.com/brave/brave-ios/issues/4651 and the complexity required to fix the issue in time, it was decided to disable the ability to move around `Favorite` tiles on the NTP for `iOS 14` devices.

### Steps to Reproduce

* see https://github.com/brave/brave-ios/issues/4651 STR that caused the crash
* ensure that you can't move around `Favorite` tiles under NTP
* en

[2021-12-09 17:50] kjozwiak commented on #4685
Fixed as per https://github.com/brave/brave-ios/issues/4651#issuecomment-988978983. Closing.

[2021-12-09 17:50] #4685 closed, assigned to soner-yuksel

[2021-12-09 17:51] kjozwiak commented on #4651
Moving this into `1.34.x` as QA will run through https://github.com/brave/brave-ios/issues/4685 on `1.33` to make sure the ability to move NTP tiles has been disabled on `iOS 14` and still works on `iOS 15`.

[2021-12-09 17:55] GeetaSarvadnya commented on #4376
- Callouts should be shown only for the new users, not for the existing users, mentioned in the spec (table at the end) and confirmed with @soner-yuksel

Callout days for different popups
[code]

### Test plan:

**Callout Orders for New user_Normal Browsing mode**

<details>
<summary>Case 1: Order of popovers when if no of days >=4days</summary>

(4 days passed 1 callout conditions is satisfied)

[2021-12-09 17:58] nuo-xu opened #4686 "Fail to swap low allowance ERC20 token after activation"
### Steps to Reproduce
  1. Have some DAI or USDC on Ropsten make sure they are low allowance (i believe they are initially with allowance $0.00)
  2. Try to swap between these two. You will see the swap button will be something like `Activate token DAI`
  3. Click the `Activate token XXX`

**Actual result:**
Nothing happened

**Expected result:**
Swapped screen should be dismissed and Confirmatio

[2021-12-09 18:05] #4686 closed, assigned to nuo-xu

[2021-12-09 18:50] #4678 closed, assigned to Brandon-T

[2021-12-09 19:06] stephendonner commented on #4663
Got this working; did it without forwarding the system clock, and got the following expected dialog:

![Image from iOS](https://user-images.githubusercontent.com/387249/145459250-25fc7db2-019d-4d09-8e52-18bdfb9c818e.png)

[2021-12-09 19:06] #4663 closed, assigned to nobody

[2021-12-09 19:20] #4682 closed, assigned to soner-yuksel

[2021-12-09 19:21] srirambv commented on #4669
Verification passed on iPhone XR with iOS 15.1 running 1.33(21.12.9.17)
- Verified steps from issue description
- Verified wallet is auto-locked when the auto-lock time has passed even when browser is being used
---------
Verification passed on iPad Pro with iOS 15.2 running 1.33(21.12.9.17)
- Verified steps from issue description
- Verified wallet is auto-locked when the auto-lock time has passed

[2021-12-09 19:30] srirambv commented on #4659
Verification passed on the following devices running 1.33 (21.12.9.17)
- Verified Wallet is moved into the features section on NTP and reads `Wallet (Beta)`

iPhone 7+ (iOS 14.8) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145463138-e082ca05-911e-446e-91cf-8389f1fee188.png> | <img width=240 src=https://user-images.

[2021-12-09 19:49] srirambv commented on #4503
Verification passed on iPhone XR with iOS 15.1 running 1.33(21.12.9.17)
- Verified all errors are handled for swap

Insufficient Balance | Insufficient Liquidity | Insufficient Funds for Gas | Unknown Error
-- | -- | -- | --
![image](https://user-images.githubusercontent.com/17010094/145465179-7e7f34a3-b36b-4eb7-90c0-65a2f10102dc.png) | ![image](https://user-images.githubusercontent.com/17010094/1

[2021-12-09 20:05] srirambv commented on #4320
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.9.17)
- Verified backup wallet screen has all the phrases numbered

Seed Phrase | Verify Seed
-- | --
![image](https://user-images.githubusercontent.com/17010094/145467244-34307860-b465-4daf-81d6-dcd6d22e80a2.png) | ![image](https://user-images.githubusercontent.com/17010094/145467627-138aafd6-b636-43e9-8797-122c2599e3d7.png)

----

[2021-12-09 20:08] kjozwiak commented on #4685
Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.8.23)`

* ensured that you can't move around favorite tiles under NTP
* ensured that you can't move around favorite tiles under the `Favorite` section when tapping on the URL bar
* ensured that any attempt on moving tiles doesn't cause any issues/crashes or obvious regressions
* ensured that you can still `Edit` & `Remove

[2021-12-09 20:12] srirambv commented on #4302
Verificaton passed on the following devices running 1.33(21.12.9.17)
- Verified `Automatically Lock After` setting has 4 default options to choose from
- Verified what ever setting is being set, wallet auto-locks after the time is past
- Verified setting can be accessed via Wallet menu -> Settings
- Verified setting can be accessed via 3 dot menu -> Wallet

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS

[2021-12-09 21:50] kjozwiak opened #4690 "rewards on-boarding screen is transparent for a few seconds when first being launched"
### Description:

Parts of the rewards on-boarding when tapping on the Brave icon for the first time look transparent when first seeing the animation. Once it moves into position, the transparent part transitions into black. Reproduced by @anthonypkeane as well.

### Steps to Reproduce

  1. download/install `1.33 (21.12.8.23)`
  2. skip the initial on-boarding and tap on the BAT/rewards icon

**A

[2021-12-09 22:02] kjozwiak commented on #4685
Quick note: still running into https://github.com/brave/brave-ios/issues/4651 while I was QAing the above. Sounds like @Brandon-T found a cause that's related to some widget code that wasn't removed from `1.33`. Once removed, we'll re-enable drag & dropping as well as that will address the crashes we've been seeing.

[2021-12-09 22:14] Brandon-T commented on #4582
Whoever takes up this assignment, please see: https://github.com/brave/brave-ios/pull/4692
When this ticket is complete, we should re-test favourites.

In the code, search for `// MARK: Widgets Disabled due to Crash on iOS 14 Favourites - Brandon T.`

[2021-12-09 22:16] kjozwiak opened #4693 "BAT/rewards icon appears greyed out when dismissing on-boarding via skip"
### Description:

When launching the rewards on-boarding by tapping on the rewards panel, skipping on-boarding will make the BAT icon appear greyed out. However easily recovers/returns to the expected state when either refreshing the page or tapping on the BAT icon again.

### Steps to Reproduce

  1. download/install `1.33 (21.12.9.19)`
  2. skip the initial on-boarding during first launch and di

[2021-12-09 22:24] kylehickinson opened #4694 "Wallet auto-lock in background sometimes hides unlock screen after coming back to the app"
### Steps to Reproduce
  1. Unlock wallet, open buy send or swap
  2. Background the app
  3. Wait until auto-lock activates (depends on what you have set, recommend 1m)

**Actual result:** <!-- Add screenshots if needed -→
Unlock screen is hidden behind the buy/send/swap

**Expected result:**
Unlock screen is visible

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easily

[2021-12-09 22:43] #4651 closed, assigned to nobody

[2021-12-09 22:47] #4694 closed, assigned to kylehickinson

[2021-12-09 23:00] #4690 closed, assigned to nobody

[2021-12-10 01:42] stephendonner commented on #4682
Verified `PASSED` using Brave `1.33 (21.12.9.23)` on an iPhone 6s running iOS `15.0.2` and another iPhone 6s running iOS `14.4.2`.

iOS 14.4.2 | iOS 15.0.2
------------|------------
<video src="https://user-images.githubusercontent.com/387249/145502972-66b5af3e-8477-4fee-8311-3316a2de444d.MP4"> | <video src="https://user-images.githubusercontent.com/387249/145503020-a80fd134-45d8-4fbe-bf6b-0edb7ac

[2021-12-10 02:46] kjozwiak commented on #4690
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.9.23)`
* Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.9.23)`
* Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 15.1` using `1.33 (21.12.9.23)`

Went through the STR/Cases outlined via https://github.com/brave/brave-ios/issues/4690#issue-1076078939 for each of the mentioned

[2021-12-10 02:53] kjozwiak commented on #4652
@Brandon-T looks like it's still broken on `iOS 15` but works on `iOS 14`. Went through the following devices/iOS version:

* Verification **FAILED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.9.23)`
* Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.9.23)`
* Verification **FAILED** on `iPad Air (3rd Gen)` running `iOS 15.1` using `1.33 (21.12.9.23)`

[2021-12-10 03:02] kjozwiak commented on #4693
Still reproducible via `1.33 (21.12.9.23)` using the STR/Cases outlined via https://github.com/brave/brave-ios/issues/4693#issue-1076111629.

[2021-12-10 03:38] kjozwiak commented on #4678
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.9.23)`
  * **`Scenario 1: US region`** - `PASSED` using STR/Cases from https://github.com/brave/brave-ios/issues/4678#issue-1075433183
  * **`Scenario 2: US region`** - `PASSED` using STR/Cases from https://github.com/brave/brave-ios/issues/4678#issue-1075433183
  * **`Scenario 3: JP region`** - `PASSED` using STR/Cas

[2021-12-10 03:55] srirambv commented on #4643
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.9.19)
- Verified seed words are hidden when screen recording is started
- Verified when a screenshot is taken a warning message is shown to delete the screenshot
- Verified this happens on back up seed screen, verify seed screen and view private key screen

Screenshot on `Your recovery phrase` | Screenshot on `Your recovery phrase

[2021-12-10 03:59] srirambv commented on #4636
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.9.23)
- Verified resetting wallet and recreating it without closing doesn't show error when trying register biometric enrolment
-------------
Verification passed on iPhone XR with iOS 15.1 running 1.33(21.12.9.23)
- Verified resetting wallet and recreating it without closing doesn't show error when trying register biometric enrolm

[2021-12-10 04:13] srirambv commented on #4676
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.9.23)
- Verified steps from issue description
- Verified no crash after creating wallet and skipping verify seed screen

[2021-12-10 04:14] srirambv commented on #4666
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.9.23)
- Verified steps from issue description
- Verified no crash when network is changed

[2021-12-10 04:15] srirambv commented on #4665
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.9.23)
- Verified steps from issue description
- Verified no crash when closing wallet via swipe down gesture

[2021-12-10 05:16] srirambv commented on #4613
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified private key copied to clipboard is cleared after 60 secs
- Verified recovery seed copied to clipboard is cleared after 60 secs
- Verified copying a private key to clipboard and importing it as secondary account clears the clipboard after 60 secs
- Verified copying seed word

[2021-12-10 06:09] srirambv commented on #4294
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.9.23)
- Verified able to add a ERC20 token via `Add custom token`
- Verified added token is shown in the visible asset list
- Verified uncheck the custom token added doesn't remove it just hides it from visible list
- Verified able to swipe delete the custom token that is added from the visible asset list
- Support of ERC721 will

[2021-12-10 06:18] srirambv commented on #4667
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified no crash when submitting a swap/send transaction
- Verified once you send/swap brings up approval screen
----------
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified no crash when submitting a swap/se

[2021-12-10 06:34] srirambv commented on #4605
Verification passed on the following devices running 1.33(21.12.9.23)
- Verified test plan from issue description
- Verified entering a password that doesn't satisfy the criteria shows the message below the password field

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com/17010094/145528386-b5b5fbd2-1e05-4c

[2021-12-10 06:53] srirambv opened #4698 "Wallet lock screen is not fully shown when biometric unlock is enabled"
### Description:
Wallet is locked with the current active screen as is

### Steps to Reproduce
  1. Enable wallet and keep it active
  2. Wait for it to auto-lock
  3. Doesn't go to lock screen to prompt biometric unlock
  4. Stays on the same screen and locks showing the lock screen

**Note: the issue is only happening only when the biometric unlock is enabled. Doesn't repro when this is not enab

[2021-12-10 06:57] srirambv commented on #4595
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified no crash when wallet is unlocked
------------
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified no crash when wallet is unlocked
------------
Verification passed on iPad Pro with iOS 15.2 running 1.33

[2021-12-10 07:05] srirambv commented on #4597
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified no crash when setting a custom gas price
- Verified no crash when changing transaction fee to other value from default
-----------
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified no crash when setti

[2021-12-10 07:14] srirambv commented on #4591
Verification passed on the following devices running 1.33 (21.12.9.23)
- Verified wallet is enabled on PB mode only
- Verified able to use wallet without issues when PB only mode is enabled

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<video height=500  src=https://user-images.githubusercontent.com/17010094/145532470-574f6a9e-32cb-4a0e-a5eb-3520ed8eb42c.MP4> |

[2021-12-10 07:23] srirambv commented on #4260
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified default auto-lock is set to 5 mins
- Verified using the wallet for 5 mins doesn't auto-lock it
- Verified keeping wallet idle for 4 mins and then using the wallet reset the timer from 4 mins
- Verified wallet is auto-locked after the specified timeout whether or not it is in use or in background
------------
Veri

[2021-12-10 07:56] GeetaSarvadnya opened #4700 "Brave crashes when brave is restarted 3 to 4 times"
### Description:

@kjozwiak Found a crash issue in the latest TF version 1.33. Filing an issue on behalf of @kjozwiak

 Brave crashes when brave is restarted 3 to 4 times

### Steps to Reproduce
  1. Clean profile 1.33 (21.12.9.23)
  2. Skip the welcome onboarding flow
  3. Restart brave 3 to 4 times
  4. Brave crashes

**Actual result:**
 Brave crashes when brave is restarted 3 to 4 times

**Expe

[2021-12-10 08:06] srirambv commented on #4445
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified transaction confirmation UI is shown for both Send/Swap
- Verified able to switch between Low/Optimal(default)/High presets
- Verified able to set custom price for the transaction as well
- Verified transaction confirmation screen is shown for both send and swap

Confirmation Screen | Default settings | Custom pr

[2021-12-10 08:13] srirambv opened #4701 "Browser crash when edit visible assets is selected resulting in wallet reset"
### Description:
Browser crash when edit visible assets is selected

### Steps to Reproduce
  1. Create wallet
  2. Click on `Edit Visible Assets`
  3. Browser crash

**Actual result:**

https://user-images.githubusercontent.com/17010094/145541123-8e608108-2301-4973-bd8d-945e98329e7f.MP4

**Expected result:**
No crash when selecting edit tokens and definitely not resetting wallet because of crash

[2021-12-10 08:23] srirambv commented on #4520
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified ETH is the only asset by default on testnet
------
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.9.23)
- Verified ETH is the only asset by default on testnet
------
Verification passed on iPad Pro with iOS 15.2 running 1.33 (21.12.9.23)
- Verified ETH is the only asset by default on testnet

[2021-12-10 08:29] srirambv commented on #4701
Note:
1. Wallet is not reset if there a transaction on the account (reject is also fine)
2. Browser crashes whenever you try to open asset list even on send/swap screen selecting token list crashes browser

[2021-12-10 08:55] srirambv commented on #4633
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33(21.12.9.23)
- Verified steps from issue description
- Verified wallet is lock properly closing all wallet screens when
-----------
Verification passed on iPhone XR with iOS 15.1 running 1.33(21.12.9.23)
- Verified steps from issue description
- Verified wallet is lock properly closing all wallet screens when
-----------
Verification pas

[2021-12-10 09:07] srirambv commented on #4641
Verification passed on iPhone XR7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified when receiving address is same as sending an error is shown
- Verified when receiving address is token's contract address, error is shown

Same Address | Contract Address
-- | --
![image](https://user-images.githubusercontent.com/17010094/145547271-c579e01e-2b8d-4e2d-be65-2b135dc916b0.png) | ![image](https://us

[2021-12-10 10:36] srirambv commented on #4694
This is still not fixed. I run into it on iPad. Before the unlock screen shows up if the biometric prompt shows up then it can cause this issue. Have seen it but unable to record it when it happens, buy/send/swap screen gets removed and potfolio page loads before unlock screen shows up and because of fingerprint prompt showing up it doesn't fully go back to unlock wallet screen. This is more promi

[2021-12-10 10:36] srirambv commented on #4694
Marking this as QA/No as #4698 would be sufficient to verify this issue.

[2021-12-10 11:21] srirambv opened #4702 "Portfolio balance becomes 0 when certain ERC-20 tokens are added to visible asset list"
### Description:
Portfolio balance becomes 0 when certain ERC-20 tokens are added to visible asset list

### Steps to Reproduce
  1. Ensure portfolio has some balance
  2. Select `First Blood Token` from the asset list
  3. Portfolio balance becomes zero

**Actual result:**

https://user-images.githubusercontent.com/17010094/145566341-2098eed9-7968-4db5-b4b4-5b972a2f31b0.MP4

**Expected result:**

[2021-12-10 11:29] srirambv commented on #4686
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.9.23)
- Verified `Activate Token XXX` is shown
- Verified selecting activate token bring up approve transaction screen
- Verified able to submit approval transaction

Activate Token | Approve Transaction
-- | --
![image](https://user-images.githubusercontent.com/17010094/145567488-91f66278-d71c-4113-bd1f-4e3fb64d89ce.png) | ![image

[2021-12-10 11:32] srirambv commented on #4265
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified restoring a new wallet when an existing wallet already being there doesn't cause any issue with new password
- Verified able to restore wallet and set fingerprint to unlock and works fine
-----------
Verification passed on iPhone XR with iOS 151 running 1.33 (21.12.9.23)
- Verified restoring a new wallet when an

[2021-12-10 12:43] GeetaSarvadnya commented on #4375
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.9.23)`

<details>
<summary>Shield education popups_US Region</summary>

**_Shields intro messages removed_**

1. Confirmed `Trackers and ads blocked on this page` popup is removed from 1.33 (visit amazon.com/any adblocking website and ensure the `Trackers and ads blocked on this page` popup isn't s

[2021-12-10 13:27] LaurenWags opened #4703 "new onboarding needs translations"
### Description:
While testing https://github.com/brave/brave-ios/issues/4378, noticed that the new onboarding doesn't have translations.

### Steps to Reproduce
  1. Set device to another language (I used region = Japan, language = Japanese)
  2. Clean install 1.33
  3. View onboarding

**Actual result:**

Onboarding is in English

Example | Example | Example
----- | ----- | -----
![IMG_0028](htt

[2021-12-10 13:30] GeetaSarvadnya commented on #4377
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.9.23)`

### US Region

<details>
<summary>Browser Menu on NTP</summary>

- NTP intro messages are covered in https://github.com/brave/brave-ios/issues/4372#issuecomment-984465058
- When the user goes through the onboarding flow, skip on any slide opens up the NTP, and NTP intro messages are shown,

[2021-12-10 13:35] srirambv commented on #4703
Translations are not yet done please check once https://github.com/brave/brave-ios/issues/4632 is merged

[2021-12-10 13:39] #4703 closed, assigned to nobody

[2021-12-10 13:47] srirambv opened #4704 "Wallet settings should be enabled only after wallet is created"
Similar to Desktop/Android, iOS also has a wallet setting available before creating a wallet. Should only show it under settings when wallet is created/restored

Desktop/Android issue https://github.com/brave/brave-browser/issues/20027

cc: @jamesmudgett @nuo-xu @kylehickinson

[2021-12-10 14:57] tmancey opened #4706 "NTP SI multiple simultaneous active campaigns"
See https://github.com/brave/brave-browser/issues/19999 for desktop implementation/requirements

[2021-12-10 15:34] kylehickinson commented on #4701
Turns out this is a crash due to compiling the code with Xcode 13.2 so I am going to close it and ask you to verify on the next build which will _not_ be using Xcode 13.2

[2021-12-10 15:34] #4701 closed, assigned to nobody

[2021-12-10 16:44] #4702 closed, assigned to kylehickinson

[2021-12-10 17:17] kjozwiak opened #4710 "Manual test run for `1.33` on `iPhone` using `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2021-12-10 17:29] kjozwiak opened #4711 "Manual test run for `1.33` on `iPhone` using `iOS 14`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2021-12-10 17:49] srirambv opened #4712 "Able to submit swap transaction even after swap button is disabled"
### Description:
[Follow up to #4620] Able to submit swap transaction even after swap button is disabled

### Steps to Reproduce
  1. Create a swap transaction
  2. Click on Swap to bring up transaction approval screen
  3. Once Swap button is clicked looks disabled but can still be tapped to create more approval requests

**Actual result:**

https://user-images.githubusercontent.com/17010094/1456

[2021-12-10 17:50] #4712 closed, assigned to nobody

[2021-12-10 17:54] kjozwiak opened #4713 "opening new tab via tab view doesn't initiate onboarding modals under NTP on `iOS 15` - follow up to #4652"
### Description:

If a user hasn't seen/initiated the NTP onboarding modals, opening a new tab via `+` under the tab view won't start the onboarding. Only way to start the onboarding would be to go back to the original NTP that was opened after launching Brave for the first time or clicking the `+` using the bottom toolbar.

### Steps to Reproduce

  1. download/install `1.33 (21.12.7.21)` via TF

[2021-12-10 17:55] kjozwiak commented on #4652
As per the discussion with @soner-yuksel & @Brandon-T, we'll address the above not working on `iOS 15` via https://github.com/brave/brave-ios/issues/4713 in another release. We'll consider this done for `1.33` as it's working for `iOS 14`.

[2021-12-10 17:55] srirambv commented on #4620
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified once swap button is clicked becomes disabled but encountered [#4712](#4712)
------------
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.9.23)
- Verified steps from issue description
- Verified once swap button is clicked becomes disabled but encountered

[2021-12-10 18:32] srirambv commented on #4701
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.10.17)
- Verified selecting edit visible assets on portfolio screen doesn't crash the browser
- Verified selecting send transaction and selecting token list doesn't crash the browser
- Verified selecting search assets on swap screen doesn't crash the browser

[2021-12-10 18:35] srirambv commented on #4702
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.33 (21.12.10.17)
- Verified steps from issue description
- Verified adding ERC20 token doesn't bring the portfolio balance to 0
------------
Verification passed on iPhone XR with iOS 15.1 running 1.33 (21.12.10.17)
- Verified steps from issue description
- Verified adding ERC20 token doesn't bring the portfolio balance to 0
------------
Ve

[2021-12-10 18:45] srirambv commented on #4712
Verification passed on the following devices running 1.33 (21.12.10.17)
- Verified when swap button is clicked spinner shows up before the transaction approval screen shows up
- Verified tapping on the spinner doesn't cause a new transaction to be submitted

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.1) | iPad Pro (iOS 15.2)
-- | -- | --
<img width=300 src=https://user-images.githubusercontent.com

[2021-12-10 19:40] stephendonner opened #4714 "No "Yes" link or button to tap on to enable Rewards in callout screen"
### Description:

No "Yes" link or button to tap on to enable Rewards in callout screen

### Steps to Reproduce
  1. install `1.33 (21.12.10.17)`
  2. launch Brave
  3. go through onboarding until you get to the Rewards screen
  4. read the text carefully

**Actual result:**

`By tapping Yes...`

![Image from iOS](https://user-images.githubusercontent.com/387249/145631908-88716b03-3a6b-427a-a4ce-5

[2021-12-10 19:42] kylehickinson opened #4715 "Add missing japanese translations from 1.33.x"
Ref #4588

The Japanese translations weren't complete for all new strings, so these must be added next release

[2021-12-10 19:43] Brandon-T opened #4716 "Crash on NTP Stats Onboarding"
### Description:
Fixing Crash by Nuo: xcode://organizer/crashes/downloadPoint?adamId=1052879175

### Steps to Reproduce
  1. Launch app
  2. Go through onboaring
  3. Get to NTP stats onboarding and do NOT dismiss
  4. Kill app.
  5. Repeat all steps above in order.

### Result
- Crash on NTP stats onboarding (extremely hard to reproduce)

[2021-12-10 20:01] #4632 closed, assigned to kylehickinson

[2021-12-10 20:02] GeetaSarvadnya commented on #4455
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.10.17)

----------------------

Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.10.20)`

* Also ensured that upgrading from `1.32.3` -> `1.33` selects the last opened tab

----------------------

Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (2

[2021-12-10 20:07] #4716 closed, assigned to Brandon-T

[2021-12-10 20:08] #4714 closed, assigned to soner-yuksel

[2021-12-10 21:06] kjozwiak commented on #4651
Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.10.20)`

* ensured that you can't move around favorite tiles under NTP
* ensured that you can't move around favorite tiles under the `Favorite` section when tapping on the URL bar
* ensured that any attempt on moving tiles doesn't cause any issues/crashes or obvious regressions
* ensured that you can still `Edit` & `Remov

[2021-12-10 21:52] stephendonner commented on #4714
Verified `PASSED` in `1.33 (21.12.10.20)`, using an iPhone 6s (iOS 14.4.2) and another iPhone 6s (iOS 15.0.2).

Confirmed the `Start` button label is now `Yes`.

14.4.2 | 15.0.2
-------|-------
![Image from iOS (1)](https://user-images.githubusercontent.com/387249/145645855-b42386a9-552a-473e-b219-3843d1e5d98f.png) | ![Image from iOS](https://user-images.githubusercontent.com/387249/145645919-cd19

[2021-12-10 22:15] kjozwiak commented on #4402
So on the `iPad`, loading https://pitchfork.com/reviews/albums/various-artists-ill-be-your-mirror-a-tribute-to-the-velvet-underground-and-nico while other audio is playing will mute that audio. It's basically the same behaviour as Safari. @iccub mentioned that all we did was basically set a WebKit flag and the above issue really had no code.

[2021-12-10 22:20] stephendonner commented on #4377
Verification **PASSED** on `iPhone 6, iOS 15.0.2` running `Brave version 1.33 (21.12.10.20)`

### US Region

<details>
<summary>Browser Menu on NTP</summary>

- NTP intro messages are covered in https://github.com/brave/brave-ios/issues/4372#issuecomment-984465058
- When the user goes through the onboarding flow, skip on any slide opens up the NTP, and NTP intro messages are shown, after dismissin

[2021-12-10 23:06] stephendonner commented on #4373
Verification is **PASSED** `iPhone 6s on iOS 14.4.2` running `Brave version 1.33 (21.12.10.20)`

- @GeetaSarvadnya logged https://github.com/brave/brave-ios/issues/4603
- Currently, we can't set brave as default and there is no API to check whether brave is the default browser or not. So there is no point in testing the upgrade cases in this situation, In this issue default browser UI validation i

[2021-12-10 23:18] kjozwiak commented on #4716
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.10.20)`
* Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.10.20)`
* Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 15.1` using `1.33 (21.12.10.20)`

STR/Cases used for the above devices/iOS versions:

* re-launched Brave ~40 times while the NTP was opened and ensured Brave di

[2021-12-10 23:33] stephendonner commented on #4372
Verification `PASSED` on `iPhone 6s on iOS 14.4.2` running Brave version `1.33 (21.12.10.20)`

### US Region

<details>
<summary>Case 1: Implement welcome screens_New user - PASSED</summary>

- Confirmed onboarding welcome screens are implemented as per in the Figma doc https://www.figma.com/file/irDJRP35FUwsRu60Wp9fM6/iOS-onboarding?node-id=469%3A5764
- Confirmed content text in the 2nd welcome s

[2021-12-10 23:57] mia1024 commented on #3323
This is especially problematic for any PDF that requires user login. So now to download the PDF I have to go to the same website on Safari, login to the website, go through 2FA, and then paste the same link just to get the PDF file. In addition, the print menu option doesn't seem to do anything.

[2021-12-11 01:05] stephendonner commented on #4632
As a followup, there's also pending https://github.com/brave/brave-ios/issues/4715 for Japanese strings, which were missed.

[2021-12-11 02:48] stephendonner commented on #4372
Oops; removing `QA Pass - iPhone` label for now, until @kjozwiak had had a chance to wrap up iOS `15` testing (sorry!)

[2021-12-11 07:06] stephendonner opened #4719 "Sometimes, the Default Browser callout appears before the VPN callout"
### Description:

Sometimes, the Default Browser callout appears before the VPN callout

### Steps to Reproduce
1. fresh install Brave `1.33 (21.12.10.20)` from TestFlight (`production` channel, orange logo)
2. launch Brave
3. tap `Let's go` on the `Privacy made easy` screen
4. tap `Not now`
5. tap `Skip`
4. tap to clear 1st tour slide
5. tap again to clear 2nd tour slide
6. force-quit/close Brave

[2021-12-11 07:17] stephendonner commented on #4719
Cross-reference: https://github.com/brave/brave-ios/issues/4682

[2021-12-11 19:19] brandonpollack23 commented on #3229
Just switched and after realizing this I might switch back, I'll see how it goes :(

[2021-12-12 12:06] stephendonner opened #4721 "VPN callout-card positioning is incorrect in Japan region"
### Description:

VPN callout-card positioning is incorrect in Japan region

Cross-referenced issues:
* https://github.com/brave/brave-ios/issues/4719

### Steps:

0. set iOS `region` setting to `Japan`, and restart the phone
1. install `Brave` `1.33 (21.12.10.20)` or later, from TestFlight
2. launch Brave
3. confirm you get the `Privacy made easy` screen
4. tap `Let's go`
5. tap the Kanji below t

[2021-12-12 12:19] stephendonner commented on #4376
Verified `PASSED` using Brave `1.33 (21.12.10.20)` on an `iPhone 6s (iOS 14.4.2)`.

Ran through `Case 5: Order of popovers when no. of days 10 >`.

NOTE:

Filed the following two issues for the callout-cards' incorrect ordering:
* https://github.com/brave/brave-ios/issues/4721 (Japan region)
* https://github.com/brave/brave-ios/issues/4719 (US region)

[2021-12-12 17:01] nejdevyslovit opened #4722 "ja"
### Description:

### Steps to Reproduce
  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:** [Easily reproduced, Intermittent Issue]

**Brave Version:**

**Device details:**

**Website problems only:**
- did you check with Brave Shields down?
- did you check in Safari/Firefox (WkWebView-based browsers)?

### Additional Information

[2021-12-12 17:18] #4722 closed

[2021-12-12 18:53] iceguy154 commented on #3390
This feature would be KEY. Should be high priority

[2021-12-12 18:55] iceguy154 commented on #3391
Mobile Safari does this. This feature should be high priority. This is a heavily used feature in the desktop version and is super convenient.

[2021-12-12 18:57] iceguy154 commented on #4560
Same type of issues here. I would like to see sync and auto prefill and credit card prefill working though the sync chain. Feature requests are already open for these.

[2021-12-12 23:41] TD540 commented on #4675
Is this issue fixed? Because I'm still having the same trouble with the clipboard permission screen (development branch `5e58edf82f0fccf738d62bca9ec91320b2eebea7`)

[code]

[2021-12-13 00:47] Brandon-T commented on #4675
It is fixed.
In release builds you will not be stuck. If you're testing development, you need to disable the onboarding skipping, which doesn't happen in release.

So it's 100% fixed.

[2021-12-13 03:53] #4715 closed, assigned to nobody

[2021-12-13 03:55] tripp528 commented on #3228
Further confirming: this is the single feature preventing me from using Brave full time.

The lack of integration on iOS not only prevents use of Brave-iOS, but also prevents use of Brave desktop. If I save new login info on Brave desktop, my Chrome iOS will of course be out of date.

P.S. This is an amazing project and thank you to everyone involved! You are transforming the internet to a user-fi

[2021-12-13 04:52] kjozwiak commented on #4588
Assuming this is a dupe of https://github.com/brave/brave-ios/issues/4632 so closing and removing from the `1.33.x` milestone. @kylehickinson @iccub please let me know if that's not the case.

[2021-12-13 04:52] #4588 closed, assigned to nobody

[2021-12-13 05:43] kjozwiak commented on #4715
Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.13.3)`

**`On-boarding & Settings`**

**`Example`** | **`Example`** | **`Example`** | **`Example`** | **`Example`** | **`Example`**
---------------| ---------------| ---------------| ---------------| ---------------| ---------------|
![IMG_0219](https://user-images.githubusercontent.com/2602313/145758335-fdd108c2-9540-4e4

[2021-12-13 06:17] GeetaSarvadnya commented on #4710
Looks good hence closing the issue.

[2021-12-13 06:17] #4710 closed, assigned to GeetaSarvadnya

[2021-12-13 06:28] GeetaSarvadnya commented on #4632
Verification **PASSED** on `iPad 7th Generation running iOS 15.1` running `Brave version 1.33 (21.12.13.3)`
Logged https://github.com/brave/brave-ios/issues/4724

### France - FR

**_Onboarding flow:_**

Example | Example | Example | Example
------|-------|------|-------
![IMG_0215](https://user-images.githubusercontent.com/38657976/145771650-e839e10b-f4a6-4893-b4c5-95423dd956a5.PNG) | ![IMG_0216]

[2021-12-13 07:19] slavanossar commented on #4496
+1 on this

Would love for Brave to go even further and do a UI redesign more in line with the latest Safari iOS offering. They've moved the address bar down to the bottom (having it at the top was a relic of desktop UI), and added a bunch of nice gestures to navigate between tabs, open new tabs, etc.

![IMG_81AAAB4A3BC2-1](https://user-images.githubusercontent.com/7077600/145768845-0941b25c-e4d4-

[2021-12-13 09:43] GeetaSarvadnya opened #4724 "Back up your crypto wallet content message isn't translated in FR, JP and DE locales"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/4632
Back up your crypto wallet content message isn't translated in FR, JP and DE localess
### Steps to Reproduce
  1. NA
  2.
  3.

**Actual result:**

![IMG_0263](https://user-images.githubusercontent.com/38657976/145788315-801ab305-90a9-47ae-8879-f4579829fa18.PNG)

**Expected result:**
Back up your crypto wallet cont

[2021-12-13 11:56] mailinglists35 commented on #4496
please file a separate issue for altering UI behaviour.

while I agree with your proposals, this issue is precisely for buttons and other UI elements that are too small to touch.

[2021-12-13 12:24] GeetaSarvadnya opened #4725 "Cancel string isn't translated in DE, JP and FR locales"
### Description:

Cancel string isn't translated in DE, JP and FR locales

### Steps to Reproduce
  1. NA

**Actual result:**
![IMG_0269](https://user-images.githubusercontent.com/38657976/145811416-d1fc39ec-d378-44ca-ac3d-e0489562dd32.PNG)
![IMG_0268](https://user-images.githubusercontent.com/38657976/145811429-4931a2a4-83af-453b-aeaf-346cb5520de4.PNG)
![IMG_0270](https://user-images.githubuserco

[2021-12-13 14:01] soner-yuksel commented on #4725
@nuo-xu Can you look at this ?

[2021-12-13 14:01] soner-yuksel commented on #4724
@nuo-xu Can you take a look at this ?

[2021-12-13 14:33] LaurenWags commented on #4376
Verified on `iPad mini` with `iOS 15` running `1.33 (21.12.13.3)`

<details>
<summary>Case 5: Order of popovers when if no of days =10days</summary>

(10 days passed and all the 4 callout conditions are satisfied)

1. Launch browser, skip onboarding and dismiss NTP intro messages
2. Kill the app from memory
3. Set the device date ahead by 10 days (in my case I have set it to 23rd Dec)
4. Launch br

[2021-12-13 15:23] LaurenWags commented on #4719
Reproduced multiple times with https://github.com/brave/brave-ios/issues/4376#issuecomment-992539850.

Seems to be if number of days  = 10, call out order is as expected. If number of days > 10, callout is out of order.

[2021-12-13 15:50] GeetaSarvadnya opened #4726 "Shield intro message isn't shown when a site is opened via Tab tray `+` icon"
### Description:

Shield intro message isn't shown when a site is opened via Tab tray `+` icon
### Steps to Reproduce
  1. Clean profile 1.33 (latest TF version)
  2. Skip the onboarding flow
  3. Dismiss the NTP intro messages
  4. Tap on Tab tray and tap on `+`
  5. Enter buzzfeed.com
  6. Shield intro message isn't shown

**Actual result:**

Shield intro message isn't shown when a site is opene

[2021-12-13 16:44] kjozwiak commented on #4724
Quick example of Japan not being translated as I ran into this last night while running through https://github.com/brave/brave-ios/issues/4715 👍

![145758621-f4d2b021-512c-4d0e-8bf7-33dc695b0f98](https://user-images.githubusercontent.com/2602313/145853077-c4fb8684-3c8e-4236-b4c1-5d387eb622b5.png)

[2021-12-13 16:55] GeetaSarvadnya commented on #4726
dup of #https://github.com/brave/brave-ios/issues/4713

[2021-12-13 16:55] #4726 closed, assigned to nobody

[2021-12-13 16:55] nuo-xu commented on #4724
This translation is missing. It will need to be ordered and added in the next release.

[2021-12-13 16:58] kjozwiak opened #4727 "screenshot detected modal under backup words not translated"
### Description:

The modal that warns users that they're about to take a screenshot of the backup words isn't translated.

### Steps to Reproduce

  1. download/install `1.33 (21.12.13.3)` (or any build that has Brave Wallet)
  2. run through the setup and attempt to take a screenshot when the backup words are shown/generated

**Actual result:**

![IMG_0236](https://user-images.githubusercontent.

[2021-12-13 17:17] kjozwiak commented on #4372
Thanks for running through the remaining checks on `iOS 15` @GeetaSarvadnya 👍 Ran through the `Default Browser` cases and everything is working as expected 👍

[2021-12-13 17:18] GeetaSarvadnya commented on #4721
As per the slack thread explanation, closing the issue https://bravesoftware.slack.com/archives/C06UXF3KJ/p1639415370235300?thread_ts=1639310900.218900&cid=C06UXF3KJ

[2021-12-13 17:18] #4721 closed, assigned to nobody

[2021-12-13 17:19] GeetaSarvadnya commented on #4719
As per the slack thread explanation, closing the issue https://bravesoftware.slack.com/archives/C06UXF3KJ/p1639415370235300?thread_ts=1639310900.218900&cid=C06UXF3KJ

[2021-12-13 17:32] kjozwiak commented on #4700
Closing as this has been addressed via https://github.com/brave/brave-ios/pull/4717 and verified by QA via https://github.com/brave/brave-ios/issues/4716#issuecomment-991367774. @GeetaSarvadnya also mentioned that she can't reproduce the original issue anymore.

[2021-12-13 17:32] #4700 closed, assigned to nobody

[2021-12-13 17:43] #4725 closed, assigned to nuo-xu

[2021-12-13 18:20] #4719 closed, assigned to nobody

[2021-12-13 18:23] soner-yuksel commented on #4603
Closing this ticket since there is no way to achieve this behaviour

[2021-12-13 18:23] #4603 closed, assigned to nobody

[2021-12-13 18:31] GeetaSarvadnya commented on #4593
Please note this issue is happening only on my device iPhone 8 - iOS 15.1. Click on any button on the `Set brave default browser` slide will crash the browser. Apart from this other slides are working fine.

[2021-12-13 18:52] soner-yuksel commented on #4593
Cant reproduce this with various devices and simulator using both iOS 15 and iOS 14.

[2021-12-13 19:17] stephendonner commented on #4632
Verification **PASSED** on `iPhone 6s` running `14.4.2` and `Brave 1.33 (21.12.13.3)`.

### Spain

**_Onboarding flow:_**

Example | Example | Example | Example
------|-------|------|-------
![Image from iOS](https://user-images.githubusercontent.com/387249/145875340-8ff39f40-fbd6-47ff-9e58-6bcc1d6392b0.png) | ![Image from iOS (2)](https://user-images.githubusercontent.com/387249/145875415-ad9ed70

[2021-12-13 20:54] stephendonner opened #4730 "Brave 1.32.x unable to join 1.33.x-created desktop chain"
### Description:

### Steps to Reproduce
  1. install Brave 1.32.3 (21.11.17.19) on iOS
  2. install Brave 1.33.105 on desktop
  3. set up a Sync chain on desktop
  4. try to join from iOS

**Actual result:**

After scanning the QR code, we get stuck on this screen

![Image from iOS](https://user-images.githubusercontent.com/387249/145886050-b6c3123d-d332-4b17-8454-58a690b88e5a.png)

https://user-

[2021-12-13 20:58] fmarier commented on #4730
1.33 should be able to join 1.32 Sync chains (until Jan 1st 2022), but the reverse is not true. 1.32 will not be able to join new Sync chains because the QR code in 1.33 is in a different format (i.e. it's invalid as far as 1.32 is concerned).

Ideally, it should display a useful error message when it doesn't work instead of getting stuck, but I believe the absence of an error message when seeing

[2021-12-13 22:49] kjozwiak opened #4731 "Can't create rewards wallet - Rewards grants endpoint is empty/null in `1.33`"
### Description:

With `1.33`, rewards fails to create a wallet every time and receives the following error message:

[code]

### Steps to Reproduce

  1. download/install `1.33` from TF
  2. enable rewards (use `Dev` so you can see the errors via xCode and the rewards internal settings)

**Actual result:**

Wallet not created. Outbound calls to https://grant.rewards.brave.com not shown in Charles

[2021-12-14 03:33] bsclifton commented on #4731
Re-opening as this will be closed when https://github.com/brave/brave-core/pull/11585 is merged and we do another build

[2021-12-14 04:59] kjozwiak commented on #4731
Closing as https://github.com/brave/brave-core/pull/11586 & https://github.com/brave/brave-core/pull/11585 have been merged into `1.34.x` & `1.33.x`. Once we get a new build via TF, we should be able to run through the above and verify that reward wallets are being created. However, we'll need a new `1.33.x` build that includes iOS so it can be used for the new `1.33` TF build.

[2021-12-14 04:59] #4731 closed, assigned to Brandon-T, emerick, soner-yuksel

[2021-12-14 05:40] stephendonner opened #4732 "Long button text in Spanish is unreadable"
### Description:

Long button text in Spanish is unreadable

### Steps to Reproduce
  1. install `1.33 (21.12.13.3)`
  2. switch to a Spanish-speaking locale (language) in iOS
  3. launch Brave
  4. go through the onboarding tour until you see the translated `Make Brave your default browser` screen
  5. look at the button strings for `Set as default`

**Actual result:**

![145875417-6c1b61e5-8eb6-

[2021-12-14 05:54] stephendonner opened #4733 "In some translations, the Skip button overlaps website button on default-browser onboarding screen"
### Description:

In some translations, the Skip button overlaps website button on default-browser onboarding screen

### Steps to Reproduce
  1. install `1.33 (21.12.13.3)`
  2. change your iOS language to Spanish
  3. launch Brave
  4. tap through onboarding until you get to the translated `You're ready to browse!` screen, with the choice of websites
  5. look at the bottom white translated `Ski

[2021-12-14 15:45] #4593 closed, assigned to Brandon-T

[2021-12-14 17:32] jsecretan commented on #4706
3 points for size

[2021-12-14 17:33] GeetaSarvadnya commented on #4593
Verification **PASSED** on `iPhone 8 version iOS 15.1` running `Brave version 1.33 (21.12.14.16)`

[2021-12-14 17:54] GeetaSarvadnya commented on #4725
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.14.16)`

**_Germany DE_**
Example | Example | Example
----|----|-----
![IMG_0292](https://user-images.githubusercontent.com/38657976/146053604-7702d78d-e27c-48ca-abc6-27344d9ecf35.PNG) | ![IMG_0290](https://user-images.githubusercontent.com/38657976/146053620-54c75b9b-cc3b-425b-9f2b-137c205339b0.PN

[2021-12-14 18:27] GeetaSarvadnya commented on #4731
Verification **PASSED** on `iPhone 8 version iOS 15.1` running `Brave version 1.33 (21.12.14.16)`
 - Confirmed wallet is getting created
 - Confirmed ads are served and can be viewed
 - Confirmed wallet payment id and seed info is displayed correctly in Dev internal page
-------
Verification **PASSED** on `iPad 7th Generation version iOS 15.1` running `Brave version 1.33 (21.12.14.16)`
 - Confirme

[2021-12-14 22:06] kjozwiak commented on #4632
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.14.16)`

### Chinese (Simplified)

**`Onboarding flow`**

Example | Example | Example | Example
------|-------|------|-------
![IMG_0465](https://user-images.githubusercontent.com/2602313/146082330-6d46bd51-df5f-4ab5-9b13-8f2db1d1dbfa.png) | ![IMG_0466](https://user-images.githubusercontent.com/2602313/146082333-7e64604

[2021-12-14 22:10] stephendonner commented on #4534
Verified `PASSED` with Brave `1.33 (21.12.13.3)` on various iOS devices running both `15.0.2` and `14.4.2`.

As @LaurenWags wrote above, iOS <--> iOS and desktop (on all platforms) <---> iOS have now been tested and covered in https://github.com/brave/brave-browser/issues/19550.

[2021-12-14 22:21] kjozwiak commented on #4725
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.33 (21.12.14.16)`

**`German`**

Example | Example | Example
----|----|-----
![IMG_0491](https://user-images.githubusercontent.com/2602313/146088180-53ddb06b-70b6-42a6-97b1-ae1a274b7fd1.png) | ![IMG_0495](https://user-images.githubusercontent.com/2602313/146088183-0933b77d-2b2c-4af7-a94f-cfc96fd89f88.png) | ![IMG_0496](https://us

[2021-12-14 22:38] kjozwiak commented on #4725
Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.14.16)`

**`German`**

Example | Example | Example
----|----|-----
![IMG_0240](https://user-images.githubusercontent.com/2602313/146090545-5268a58e-000f-44b8-a247-9729a08cc1d5.png) | ![IMG_0239](https://user-images.githubusercontent.com/2602313/146090546-12d8f9c3-dff0-4906-964f-02a04b084db8.png) | ![IMG_0238](https://user

[2021-12-15 02:25] kjozwiak commented on #4711
Verification **PASSED** on `iPhone 6+` running `iOS 14.6` using `1.33 (21.12.14.16)`

[2021-12-15 02:25] #4711 closed, assigned to kjozwiak

[2021-12-15 02:51] #4698 closed, assigned to nuo-xu

[2021-12-15 19:44] kjozwiak commented on #4672
Removing from `1.34` as it's not a high priority issue. @aekeus and team can decide prioritization 👍

[2021-12-15 21:17] Brandon-T commented on #4582
Found the reason for the crash.
It is: https://bugs.swift.org/browse/SR-12288
It is solved in [#4738](https://github.com/brave/brave-ios/pull/4738)

[2021-12-16 00:42] pes10k opened #4739 "Sometimes a background tab's audio will start playing over system audio"
I'm having a reoccurring problem on the ios client. I don't know if the problem is related to playlists or the main client though.

Here are steps that consistantly recreate for me

1. start playing audio in a non-brave app (for me, it was a podcast in Downcast.app)
2. open Brave and play a youtube video (for me it was https://m.youtube.com/watch?v=PSyL-TrD_2g&pp=QAFIAQ%3D%3D).  The podcast audio

[2021-12-16 07:09] stephendonner opened #4740 "global Shields defaults should read Shields global defaults in Brave Shields' panel"
### Description:

`global Shields defaults` should read `Shields global defaults` in Brave Shields' panel

### Steps to Reproduce
  1. install `1.33 (21.12.15.2)`
  2. launch Brave
  3. breeze through onboarding
  4. tap on the 3-dots menu icon on the bottom-right toolbar
  5. tap on `Settings`
  6. load a site like `tmz.com`
  7. tap on the Brave Shields icon
  8. in the resulting doorhanger dial

[2021-12-16 15:06] #4582 closed, assigned to Brandon-T

[2021-12-16 15:10] soner-yuksel commented on #4329
Closed due to [Issue-4582](https://github.com/brave/brave-ios/issues/4582) is closed and widgets restored back to project.

[2021-12-16 15:10] #4329 closed, assigned to iccub

[2021-12-16 15:23] soner-yuksel commented on #4685
Ability to Drag and drop for Favourites in iOS 14 is added back with this PR https://github.com/brave/brave-ios/pull/4692 which was merged in 1.33.
and the disabled widgets are added back with this Issue https://github.com/brave/brave-ios/issues/4582

[2021-12-16 16:34] #4599 closed, assigned to soner-yuksel

[2021-12-16 16:36] soner-yuksel commented on #3398
The Restore PR is merged https://github.com/brave/brave-ios/pull/4742.
The feature can be tested with `1.34`

[2021-12-16 16:36] #3398 closed, assigned to soner-yuksel

[2021-12-16 16:36] soner-yuksel commented on #3397
The Restore PR is merged #4742.
The feature can be tested with 1.34

[2021-12-16 16:36] #3397 closed, assigned to soner-yuksel

[2021-12-16 17:00] #4522 closed, assigned to gpestana

[2021-12-16 17:03] #4583 closed, assigned to soner-yuksel

[2021-12-16 17:03] soner-yuksel commented on #4112
The Restore PR is merged #4743.

The feature can be tested with 1.34

[2021-12-16 17:03] #4112 closed, assigned to soner-yuksel

[2021-12-16 17:10] nuo-xu opened #4744 "Add extra validation of ETH address in send"
### Description:
Same as Desktop ref: https://github.com/brave/brave-browser/issues/19532

In Ethereum an address casing is used as a checksum for validation. We should check this and if it fails give an error.

If an input address matches the API result for KeyringController's GetChecksumEthAddress then don't give a warning
If an address has each alphabetic character as lowercase, give a warning

[2021-12-16 18:15] nuo-xu opened #4745 "Add prefill in Add Custom Token when user inputs token contract address"
Align with Desktop did ref: https://github.com/brave/brave-core/pull/11589

### Description:

Wired up `GetTokenInfo` API to the Add Custom Token UI

Built a useTokenInfo hook that can be reused through out the wallet front end to find tokenInfo by contract address.
Will first check a users visibleTokens, then fallback to the fullTokenList and then fallback to the new getTokenInfo API from Ethersc

[2021-12-17 19:59] stephendonner opened #4747 "iPhone reappears after being removed by other device on Sync chain"
### Description:

iPhone reappears after being removed by other device on Sync chain

Found while testing https://github.com/brave/brave-browser/issues/19561

### Steps to Reproduce
1. new profile of desktop `1.34.66`
2. launch Brave
3. set up a Sync chain
4. join Sync chain from iOS `1.34 (21.12.16.17)`
5. from desktop, click on the trash-can icon to remove the iOS device
6. click `OK` when promp

[2021-12-17 21:37] #4572 closed, assigned to nuo-xu

[2021-12-18 07:27] Brandon-T opened #4748 "Add Sync-Internals URL support to view sync info"
## Feature Overview
- Brave Desktop and Android and Chrome-iOS have the ability to visit `brave://sync-internals` or `chrome://sync-internals` to view sync info. iOS should have the same.

## Design

![image](https://user-images.githubusercontent.com/1530031/146633274-683dc111-e656-42f0-b22f-1e418a99c7b9.png)

## Implementation Details
- Requires Brave-Core work
- Requires integration into Brave-i

[2021-12-19 07:56] NeverKnowWhat commented on #3228
I love Brave browser.  I've been using it exclusively on Android for years, and recruiting others.

I just moved to iOS, and the inability to sync my passwords (or import) is a dealbreaker.  It's forced me to use Chrome/Safari most of the time.  Please, please, please prioritize this feature.

Is there any sort of timeline you can give for release?  1 month?  3 months? 6 months?  If it's going to

[2021-12-19 12:55] maenujem commented on #3229
Being able to sync open tabs on iOS would be highly welcomed :)

At least it should be mentioned in FAQ (https://support.brave.com/hc/en-us/articles/360047642371-Sync-FAQ), that it is not possible at this time. This would save people from wasting time to find out.

There are already a bunch of forum entries about people wishing this feature.

- https://community.brave.com/t/syncing-open-tabs/19169

[2021-12-20 13:14] AlexeyBarabash opened #4750 "Update Sync QR v2 text error for valid too long case"
Similar to https://github.com/brave/brave-browser/issues/20170

According to the discussion and updated spec:

Is the `not_after` datetime further than 60 minutes into the future,  `Valid for too long case` - error text should be:
[code]

[2021-12-20 17:12] Brandon-T opened #4754 "Refactor NTP to delete CollectionView sections when closing callouts"
### Description:
- When we call `deleteItems` on the collectionView, we never actually update the `sections` array. The same thing happens when we close the `defaultBrowser` and `Brave News` callouts on NTP.
- This can cause weird hard to find crashes when the collection-view is scrolled.
- This causes weird layouts when closing BraveNews and Default Browser as the NTP will still be scrollable as

[2021-12-20 19:30] #4704 closed, assigned to nuo-xu

[2021-12-20 20:20] #4575 closed, assigned to Brandon-T

[2021-12-20 20:30] #4586 closed, assigned to nuo-xu

[2021-12-21 18:10] Brandon-T opened #4759 "Bump Brave Core to 1.34.68 (beta) for QA to Test Desktop"
As per brave-browser Release schedule:

Related Tickets
https://github.com/brave/brave-browser/issues/19561
https://github.com/brave/brave-ios/issues/4747
https://github.com/brave/brave-ios/issues/4761

[2021-12-21 18:25] Brandon-T opened #4761 "Bump Brave-Core to 1.34.x"
As per [brave-browser Release schedule](https://github.com/brave/brave-browser/wiki/Brave-Release-Schedule):

Channels will migrate December 28th, 2021, Released on January 4th, 2022, using Chromium 97

[2021-12-21 18:26] Brandon-T commented on #4759
Bump to 1.34.x Release: https://github.com/brave/brave-ios/issues/4761

[2021-12-21 18:51] #4759 closed, assigned to Brandon-T

[2021-12-21 19:29] soner-yuksel commented on #4747
This ticket will be closed when a brave-core release bump is made with https://github.com/brave/brave-ios/issues/4761

[2021-12-21 21:03] stephendonner commented on #4747
Sadly, this isn't fixed as of `1.34 (21.12.21.19)`, which includes https://github.com/brave/brave-ios/issues/4759/https://github.com/brave/brave-ios/issues/4761, and we thought that'd fix it.  @AlexeyBarabash are you able to help with this?

[2021-12-21 21:08] AlexeyBarabash commented on #4747
@stephendonner
The only thing I can do - it is to create uplift PR for  https://github.com/brave/brave-core/pull/11313 into 1.33.x .
Will it help?

[2021-12-21 21:10] AlexeyBarabash commented on #4747
And I don't understand why I didn't create the uplift PRs once the main was merged. Probably I had missed to do that by mistake.

[2021-12-21 22:29] stephendonner commented on #4747
Not sure we want to backport this to 1.33.x's next hotfix build, probably just want to make sure it's working in 1.34.x.

Our new hypothesis is that there was xcode caching in the previous build, and we're rechecking it now.  (Filing a crasher, too.)

[2021-12-21 22:35] stephendonner opened #4764 "Crash when iOS device is remotely removed from Sync chain"
### Description:

Crash when iOS device is remotely removed from Sync chain (found while re-testing https://github.com/brave/brave-ios/issues/4747).

### Steps to Reproduce
1. new profile of desktop `1.34.x`
2. launch Brave
3. set up a Sync chain
4. join Sync chain from iOS `1.34 (21.12.21.21)`
5. from desktop, click on the trash-can icon to remove the iOS device
6. click OK when prompted to confi

[2021-12-21 22:36] Brandon-T commented on #4764
Does this happen on 1.33.x? @stephendonner

[2021-12-21 22:41] soner-yuksel commented on #4764
Yes I can reproduce this too on develop, it started after merging https://github.com/brave/brave-ios/pull/4760

[2021-12-21 22:42] stephendonner commented on #4764
Nope; the iOS device also doesn't get removed, but that's the whole point of the other brave-core fix, as we know.  No crashes.

[2021-12-21 22:43] Brandon-T commented on #4764
So it means something in BraveCore 1.34.x broke it :(

[2021-12-21 23:45] varialle opened #4765 "Closed tabs are not fully closed"
### Description:
I've noticed the bug where media sounds continue to play after the tab is closed--this happens almost every time for me--but I just discovered that, when a tab is connected to a chatroom-like website, closing the tab doesn't actually sever your connection to the website; after you close the tab, others who are able to see whether you are in the "room" see that you are still online

[2021-12-22 15:15] #4764 closed, assigned to Brandon-T

[2021-12-22 17:20] phatblat opened #4767 "🔗 Broken issue links in CHANGELOG"
### Description:

Notes for releases 1.32.1 & 1.32.2 in `CHANGELOG.md` have broken links to the related issue. The `/issue` path component is missing before the issue number.

### Steps to Reproduce
n/a

**Actual result:**

**Expected result:**

**Reproduces how often:** [Easily reproduced, Intermittent Issue]

**Brave Version:**

**Device details:**

**Website problems only:**
- did you check wit

[2021-12-22 18:50] stephendonner commented on #4764
Verified `PASSED` using `1.34 (21.12.22.15)` on a Google Pixel XL running Android 9.0.

Followed my original steps and can confirm I didn't crash, and the device gets removed from the Sync chain.

https://user-images.githubusercontent.com/387249/147140989-0941beb5-b088-4444-a046-990bbcc5ae0e.MP4

[2021-12-23 05:53] parsd51 opened #4770 "Regression: Last visited folder view is not retained"
### Description:
URL bookmark regression of: https://github.com/brave/brave-ios/issues/3072

### Steps to Reproduce
  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Every time

**Brave Version:**
1.33

**Device details:**
Ipad Air 4, iPadOS 15.2

**Website problems only:**
- did you check with Brave Shields down?
- did you

[2021-12-23 23:36] notahumanthatisimportant opened #4771 "Brave mobile does not support playing drm protected content"
### Description:
Unable to view drm protected content on hulu.com

### Steps to Reproduce
  1. Go to hulu.com in desktop mode
  2. Login
  3. Attempt to view content

**Actual result:**
Unable to view requested content

**Expected result:**
View requested content

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Persistent issue (every time i visit the page)

**Brave Version:**
1.

[2021-12-25 07:14] mrpineapples commented on #3390
I agree with @iceguy154 this should be a high priority, other ios browsers have this feature 🙏🏼

[2021-12-25 07:15] mrpineapples commented on #3391
Would love to see this feature! 🙏🏼

[2021-12-26 07:48] diracdeltas opened #4772 "[hackerone] reader mode flaw"
https://hackerone.com/reports/1436142

credit: nishimunea

### Test Plan

* https://github.com/brave/internal/issues/843

[2021-12-27 17:06] buthed010203 opened #4774 "Auto Close Tabs Reorders Them Strangely"
### Description:
The auto close tabs feature tends to shuffle my tabs when I open the browser. It's been happening for months and somehow I seem to be the only one with this problem.

### Steps to Reproduce
  1. Open a bunch of tabs
  2. Wait a day or so
  3. Turn on Auto Close (I don't know if it works when it was originally on and I don't feel like compiling this from scratch or spending days on

[2021-12-27 20:58] Brandon-T opened #4775 "[HackerOne] - Message Token Handling leaking"
https://hackerone.com/reports/1436558

credit: nishimunea

### Test Plan

* https://github.com/brave/internal/issues/842

[2021-12-28 03:25] raulchen commented on #4502
Firefox has fixed this bug. Looks like an iOS 15 compatibility issue.
https://github.com/mozilla-mobile/firefox-ios/issues/9532

[2021-12-28 17:17] bbondy opened #4777 "Change to new way to Reset Wallet for brave-core 1.36.x upgrade"
### Description:

Before 1.35.x brave-core, you could just call KeyringController::Reset to reset the wallet. This changes as of this PR:
https://github.com/brave/brave-core/pull/11669/files#diff-d5d80c8bf10054827601d890b9e85e6c9bfc4304b17089bd7d443c94c554f232R19

Resetting Wallet must change to this new method for upgrade to 1.36.x brave-core or else there will be Reset regressions.

cc @nuo-xu o

[2021-12-28 17:21] bbondy opened #4778 "1.35.x brave-core upgrade needs new EthJsonRpcController return value changes"
See:
https://github.com/brave/brave-core/pull/11670/files#diff-9f2cf11d57c8efee5461b92cdb38fa327b70c25fd8d009f7692049e8e88944a8

Mainly for some EthJsonRpcController results, we had a boolean `success` return value, and that is changed to an `error` enum in mojom and an `error_description` string.  Mostly code will change from:
[code]

to:
[code]

You may want to do extra error handling and showin

[2021-12-29 09:51] Robodog63 opened #4779 "#- [ ] - This is an automated pull @brobilioeyesbryte"
#- [ ] - This is an automated pull @brobilioeyesbryte
- [ ] request to sync changes between the public and_[]()_

__Originally posted by @Robodog63 in https://github.com/premium-support/purchase/issues/3__

[2021-12-29 09:53] Robodog63 commented on #4775
@()3747

[2021-12-29 14:51] tmancey opened #4780 "Brave Ads `toggleThumbsUpForAd` and `toggleThumbsDownForAd` for brave-core 1.35.x upgrade"
### Description:

Before 1.35.x brave-core, we only passed creative instance id to `toggleThumbsUpForAd` and `toggleThumbsDownForAd`.

This changes as of the following:
https://github.com/brave/brave-core/blob/6a4393c1a0cd77708235bfe787148e1cb67e4d5d/ios/browser/api/ads/brave_ads.h#L176

We must now pass creative instance id and advertiser id to `toggleThumbsUpForAd` and `toggleThumbsDownForAd` fo

[2021-12-29 15:01] #4779 closed, assigned to nobody

[2021-12-29 15:07] skallshian commented on #2306
I’m having this same problem and it has made Brave unusable for me. Some telephone number is trying to open an external app and it has hijacked the entire browser with infinite buggy requests. I’ve attached a video of what happens the moment I open the browser on iPhone. There’s no way for me to select *anything* like a new tab or options, and long pressing the home icon to open a new private tab

[2021-12-29 18:23] davidcollini opened #4781 "Add audio only checkmark button"
## Problem Description

## Feature Overview

## Design

## Implementation Details

## User Experience

1.
2.
3.

### Additional information

[2021-12-29 18:25] #4781 closed, assigned to nobody

[2021-12-29 18:30] davidcollini opened #4782 "Add audio only checkmark button"
## Problem Description  videos and podcasts take up too much storage

## Feature Overview  audio only uses less storage

checkmark button with the words audio only next to it when someone is adding a video to brave playlist

## Implementation Details

## User Experience

1. Go to a video
2. Click the Brave Playlist button in menu
3. Check/uncheck audio only button

### Additional information

[2021-12-29 22:53] Brave-Matt opened #4783 "When Brave is closed, selecting "New private window" from context menu opens standard window"
### Description:
Trying to launch a new private tab while the browser is closed on iOS, Brave will open a standard tab instead. This issue appears to be present only on iPhone devices -- have been unable to reproduce this on iPad devices.

### Steps to Reproduce
  1. Ensure that the browser is closed entirely (swipe up to close/quit)
  2. Long-press the Brave icon
  3. Select `New Private tab` fro

[2021-12-30 11:47] Brandon-T opened #4784 "[HackerOne] Referrer: no-referrer missing from Internal pages"
https://hackerone.com/reports/1438028

credit: nishimunea

### Test Case(s)

* https://github.com/brave/internal/issues/841

[2021-12-30 17:58] soner-yuksel commented on #4400
The description is update, please check the details and about test plans in the PR.

[2021-12-30 22:13] Brave-Matt opened #4789 "Bookmarks page not remembered when using the toolbar icon"
### Description:
On iOS, some users are reporting that the last state of the bookmarks menu (when selected from the icon) is not remembered once a link is clicked. For example, if you were to tap the icon, then go to `Mobile bookmarks --> Folder 1 --> Folder 2` then click on a link, tapping the bookmarks icon again will start all the way back at `Mobile bookmarks`. Note that this is not the case i

[2021-12-31 00:16] kjozwiak commented on #4783
BTW, this also happens with the `Scan QR Code` context menu. Seems like a general issue when attempting to use the context menu's when long tapping the Brave icon while Brave isn't running.

Regression range:

* `1.33 (21.12.14.16)` - Reproduced
* `1.32.3 (21.11.17.19)` - Reproduced
* `1.32.2 (21.11.4.20)` - Reproduced
* `1.32.1 (21.10.28.15)` - Reproduced
* `1.32 (21.10.13.18)` - Couldn't reprodu

[2021-12-31 00:38] kylehickinson opened #4790 "Don't make price history requests for currencies with a 0 balance on portfolio"
Currently we make a price history request for all visible assets regardless of whether or not the asset has a non-zero balance in the users wallet. We should avoid making these calls since they are unnecessary and won't affect the graph.

Note that currently price history happens async with balances, so it'd have to wait until balance requests or perhaps spawn requests as balances complete for eac

[2022-01-01 00:48] warwickmm commented on #4789
I can reproduce this on an iPhone (iOS 15.2) with version 1.33(21.12.14.16).

#4770 seems related.

[2022-01-02 21:16] WizardOfWor1969 commented on #3228
Yes, please put this feature in a released asap , its really a deal breaker for iOS users.

[2022-01-03 11:56] #4767 closed, assigned to nobody

[2022-01-03 18:11] kylehickinson opened #4792 "Improve page alerts ergonomics and safety"
Currently we display full screen alerts when a web page displays an alert via JS. We should improve this by:

- Not displaying alerts full screen so that the UI remains interactive and tabs can be closed while alerts are being shown
- Not displaying alerts if a user does not perform an action that triggers that alert or prior to an alert being shown if we cannot detect the events that trigger an a

[2022-01-03 18:19] jtbrown3 commented on #3228
Bump 👍.  Super important to not alienate iOS users.   Please prioritize FULL Brave Sync for iOS!

[2022-01-03 18:25] jsecretan commented on #3228
Thanks everybody, this is definitely not forgotten.  We are hoping that password sync finishes up some time in February, and then the team will shift focus to tabs.  We'll do our best to keep everybody updated.  Thanks.

[2022-01-04 06:50] stephendonner opened #4793 "Back/forward-navigation crash"
### Description:

Back/forward-navigation crash

### Steps to Reproduce
  1.  search on `search.brave.com` for a term you know will have a Wikipedia result
  2.  tap on the article heading to go to the Wikipedia article
  3.  now tap on the `Back` button
  4.  this takes some time to reproduce, so keep repeating steps 2 and 3

It happens with various sites, but seems easier to reproduce if you use

[2022-01-04 10:55] #4772 closed, assigned to diracdeltas, Brandon-T

[2022-01-04 10:56] iccub opened #4794 "Add unit tests for unquote function in reader more"
See this PR
https://github.com/brave/brave-ios/pull/4773

[2022-01-04 11:51] #4784 closed, assigned to Brandon-T

[2022-01-04 11:52] #4775 closed, assigned to Brandon-T

[2022-01-04 11:53] iccub opened #4795 "Reduce code smell complexity of Message Token Handling fix code"
Previous PR https://github.com/brave/brave-ios/pull/4776
code smell to fix https://sonarcloud.io/project/issues?id=brave_brave-ios&open=AX39tDGvVQ-r2xrfBYfN&pullRequest=4776&resolved=false&severities=CRITICAL&types=CODE_SMELL

[2022-01-04 17:22] soner-yuksel commented on #4789
@warwickmm thanks for the warning, closing the other ticket ticket as duplicate

[2022-01-04 17:23] soner-yuksel commented on #4770
Closing this ticket as duplicate of https://github.com/brave/brave-ios/issues/4789

[2022-01-04 17:23] #4770 closed, assigned to nobody

[2022-01-04 19:21] #4789 closed, assigned to soner-yuksel

[2022-01-04 21:59] bbondy opened #4797 "Rename *Controller to *Service for 1.36.x brave-core upgrade"
All of the brave-core controllers are renamed here https://github.com/brave/brave-core/pull/11739 so you'll also have to rename them in iOS. Please also rename the iOS factories to match.

Edit: I think the factories are already in Jocelyn's PR actually but we can track other things here.

cc @nuo-xu

[2022-01-04 22:39] #4761 closed, assigned to Brandon-T

[2022-01-05 00:02] #4631 closed, assigned to Brandon-T

[2022-01-05 12:53] srirambv commented on #4784
Verification passed. Verification notes can be found here https://github.com/brave/internal/issues/841#issuecomment-1005657285

[2022-01-05 13:17] srirambv commented on #4775
Verification passed and notes can be found here https://github.com/brave/internal/issues/842#issuecomment-1005677216

[2022-01-05 13:28] srirambv commented on #4772
Verification passed and verification notes can be found here https://github.com/brave/internal/issues/843#issuecomment-1005684908

[2022-01-05 14:18] srirambv commented on #4522
Verification passed and verification notes can be found here https://github.com/brave/internal/issues/844#issuecomment-1005722849

[2022-01-05 14:34] GeetaSarvadnya commented on #3398
Verification **PASSED** on **iPhone 8 - iOS version 15.2** running **Brave 1.34 (22.1.4.19)**

- Confirmed search bar has a `Search History` placeholder
- Confirmed search bar has magnifying glass symbol as its icon
- Confirmed history entry can be searched using search URL / title
- Confirmed search history bar has a clear-all button on **Edit**
- Confirmed search history result can be deleted/cl

[2022-01-05 14:35] srirambv commented on #4575
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.34(22.1.4.19)
- Verified closing default browser modal and Brave News opt-in modal doesn't cause any crash
------------
Verification passed on iPhone XR with iOS 15.2 running 1.34(22.1.4.19)
- Verified closing default browser modal and Brave News opt-in modal doesn't cause any crash
-------------
Verification passed on iPad Pro with iOS 15

[2022-01-05 14:43] GeetaSarvadnya opened #4801 "Search history headers are not sorted correctly"
### Description:

Found while testing https://github.com/brave/brave-ios/issues/3398
Search history headers are not sorted correctly
### Steps to Reproduce
Case 1:

  1. Clean profile 1.34
  2. Open 4 websites and confirm history is stored in History
  3. Set the device date ahead by 1 week
  4. Search history header is sorted as `Last month` instead of `Last week`

Case 2:

  1. Set the device da

[2022-01-05 15:04] GeetaSarvadnya opened #4802 "`No search history result` isn't showing up the correct message"
### Description:
Found while testing https://github.com/brave/brave-ios/issues/3398
`No search history result` isn't showing up the correct message
### Steps to Reproduce
  1. Clean profile 1.34
  2. Open 4 websites and confirm history is stored in History
  3. Open Search history bar and enter any website which is not listed in the search history list

**Actual result:**
![IMG_2712](https://user-

[2022-01-05 15:26] srirambv commented on #4704
Verification passed on the following devices running 1.34(22.1.4.19)
- Verified on clean install Wallet settings is not shown
- Verified once wallet is created wallet option is shown under menu settings
- Verified after resetting wallet, closing and reopening the menu removes the wallet settings entry

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.2) | iPad Pro (iOS 15.3)
-- | -- | --
<img width=300

[2022-01-05 15:36] srirambv commented on #4586
Verification passed on iPad Pro with iOS 15.3 running 1.34 (22.1.4.19)
- Verified wallet page indicator shows correctly on both landscape and portrait mode

Portfolio (Landscape) | Account (Landscape)
-- | --
![image](https://user-images.githubusercontent.com/17010094/148244641-7082d818-6616-4678-8d80-1bde431c5c40.png) | ![image](https://user-images.githubusercontent.com/17010094/148244511-66d3c39

[2022-01-05 15:57] srirambv commented on #4698
Verification passed on iPad Pro with iOS 15.3 running 1.34 (22.1.4.19)
- Verified steps from issue description
- Verified wallet lock screen is properly shown when biometric unlock is enabled

[2022-01-05 16:01] GeetaSarvadnya commented on #3397
Verification **PASSED** on **iPhone 8 - iOS version 15.2** running **Brave 1.34 (22.1.4.19)**

- Confirmed search bookmarks bar has a `Search Bookmarks` placeholder
- Confirmed bookmarks search bar is shown in the `Bookmarks` folder
- Confirmed bookmarks search bar is shown in the `Bookmarks` sub folders
- Confirmed search bookmarks bar has magnifying glass symbol as its icon
- Confirmed search bo

[2022-01-05 16:36] mmmmyah commented on #3228
Bump. Looks like people have been waiting years for this feature. I want to add that I have also held off switching to brave (like others) until password sync on iOS is available. Is there a specific date in Feb 2022 that you're targeting for the release of this feature on iOS Brave? thanks

[2022-01-05 18:17] #4790 closed, assigned to nobody

[2022-01-05 19:51] bsclifton opened #4804 "Wire up SKU SDK to a JavaScript DOM element"
### Description:
Desktop is supporting VPN purchases using the account.brave.com website and (in browser) using the SKU SDK (see implementation in https://github.com/brave/brave-core/pull/10847; not merged yet).

The goal would be to use this service to fetch/set a Desktop VPN credential on iOS

### Additional details:
@kylehickinson has added a Service wrapper (`brave/ios/browser/skus/skus_servic

[2022-01-05 20:07] bsclifton opened #4805 "Detect and store VPN state after sign-in"
### Description:
Desktop is supporting VPN purchases using the account.brave.com website and (in browser) using the SKU SDK (see implementation in https://github.com/brave/brave-core/pull/10847; not merged yet).

The goal would be to:
- have the `account.brave.com` page detect the APIs (this covered by https://github.com/brave/brave-ios/issues/4804)
- when user purchases VPN on the website, the we

[2022-01-05 20:53] soner-yuksel commented on #4440
The ticket description is updated with added screenshot and more details can be found in PR with screenshot.

[2022-01-05 21:14] soner-yuksel commented on #4374
Moving this to icebox until a decision is made for What's New Callout"

The ticket is implemented here https://github.com/brave/brave-ios/pull/4577 and can be fetched if needed.

[2022-01-05 22:03] bbondy commented on #4777
Update: BraveWalletService::Reset will need to be called only, and that can be done from mojo:
https://github.com/brave/brave-core/pull/11754

[2022-01-06 06:17] srirambv opened #4807 "Tapping on widget sometimes just launches the browser rather than the specific task from the widget"
### Description:
Tapping on widget sometimes just launches the browser rather than the specific task from the widget

### Steps to Reproduce
  1. Add widgets
  2. Tap on private tab
  3. Just launches the browser in normal mode

**Actual result:**
Tapping on widget sometimes just launches the browser rather than the specific task from the widget

**Expected result:**
Should load the actual feature

[2022-01-06 07:14] srirambv commented on #4329
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.34(22.1.4.19)
- Verified new widgets are available for Brave
- Verified able to add multiple widgets for the same app
- Verified clicking on the Stats widget launches the browser
- Verified clicking on the favourites widget launches the browser and loads the site from the favourites widget
- Verified clicking on empty tile on favourites wi

[2022-01-06 10:58] srirambv opened #4808 "Manual test run for `1.34` on iPad using `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-06 10:58] srirambv opened #4809 "Manual test run for `1.34` on iPhone using `iOS 14`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-06 10:58] srirambv opened #4810 "Manual test run for `1.34` on `iPhone X` using `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-06 18:30] mattfarina commented on #4560
I noticed the problem of sync stopping and then eventually it crashing the browser once the amount of material syncing became too large. In my case, I added another browser instance.

[2022-01-06 19:42] #4561 closed, assigned to nobody

[2022-01-06 20:21] kylehickinson commented on #4083
Can this be closed since https://github.com/brave/brave-ios/issues/4338 is closed?

[2022-01-06 20:25] kylehickinson commented on #3733
This will be taken care of with https://github.com/brave/brave-ios/issues/4706 I believe so going to close this as a duplicate

[2022-01-06 20:25] #3733 closed, assigned to nobody

[2022-01-06 21:53] bbondy commented on #4777
Moved this to 1.36.x since I'm going to leave the new changes in 1.36.x and revert the 1.35.x changes so there's no upgrade needed for it.

[2022-01-06 22:52] #4214 closed, assigned to nobody

[2022-01-07 02:50] vldmrkl opened #4813 "Update wallet transfer instructions"
### Description + Steps to Reproduce :
If you follow the [current instructions](https://user-images.githubusercontent.com/26641473/148482562-5efa1d1d-234a-4f19-a0b6-7b3036b71c58.jpeg), you might get stuck at step 3 because there is simply no "View QR code" button on the default "Rewards" screen:
![Screen Shot 2022-01-06 at 9 41 56 PM](https://user-images.githubusercontent.com/26641473/148482787-ed

[2022-01-07 06:09] GeetaSarvadnya commented on #4789
Verification **PASSED** on `iPad 7th Generation iOS version 15.2` running `Brave 1.34 (22.1.5.15)`
1. Tap on the bookmarks icon in the URL bar (behind the lock icon) ->Tap on the Desktop bookmarks or Mobile bookmarks->Tap on any bookmark folder -> tap on any bookmark to open the website->Website is opened and bookmarks menu is closed.
2. Tap again on the bookmark icon in the URL bar (behind the lo

[2022-01-07 12:21] srirambv opened #4814 "Save logins switch is shown when focus is set to search field without any saved passwords"
### Description:
Save logins switch is shown when focus is set to search field without any saved passwords

### Steps to Reproduce
  1. Clean install
  2. Open `Logins & Password` from menu
  3. Focus on search field
  4. `Save Logins` text is hidden but the switch isn't

**Actual result:**

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.2) | iPad Pro (iOS 15.3)
-- | -- | --
<img width=300 src=https:/

[2022-01-07 15:37] soner-yuksel commented on #4112
Ability of showing passwords on main settings page is removed along with the Show in Application Menu Toggle in password list screen.

[2022-01-07 16:03] srirambv commented on #4112
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.34 (22.1.5.15)
- Verified a new setting is available for `Logins & Passwords` under Security
- Verified `Save Logins` is enabled by default
- Verified disabling `Save logins` doesn't prompt save logins prompt on sites
- Verified selecting `Save Login` automatically saves the credentials under `Logins & Passwords`
- Verified opening a saved

[2022-01-07 16:04] stephendonner commented on #4808
Verified `PASSED` using Brave `1.34 (22.1.5.15)` on `iOS 15.2 (19C56)` on an `iPad Air 2`.

All of the unchecked tests have been vetted separately; only the `WebAuthn` tests remain (@kjozwiak sorry to keep leaning on you for those; mind grabbing them?)

[2022-01-07 18:06] stephendonner opened #4815 "Brave News header with Settings icon shouldn't show until after opted in"
### Description:

Brave News header with Settings icon shouldn't show until after opted in

### Steps to Reproduce
  1. install `1.34 (22.1.5.15)`
  2. launch Brave
  3. tap through onboarding
  4. on the new-tab page, swipe down
  5. look at the `Brave News` heading with Settings icon at the top of the opt-in page

**Actual result:**

![Image from iOS (1)](https://user-images.githubusercontent.co

[2022-01-07 19:03] kylehickinson commented on #4815
@stephendonner Is there any reasoning for this other than "Android is doing it this way"? Personally I would say the header is fine and _maybe_ the only thing that needs to be hidden is the settings icon.

[2022-01-07 19:05] kylehickinson commented on #4815
cc @jamesmudgett for design decision

The header makes sense honestly, you are still in "Brave News" part of NTP

[2022-01-07 19:37] kylehickinson commented on #4395
@rmcfadden3 Can we get some copy for this? There are two flows, the user scans a QR code that contains plain text and the user scans a QR code that contains a URL.

I am thinking an alert that displays a different title/message based on the scanned content to explain that one will open a URL and one will begin a search for that URL.

Proposed:

URL Title: `Load URL`
URL Message: `Do you want to lo

[2022-01-07 22:11] stephendonner commented on #4815
Not inherently; I'm just doing my due diligence in filing for consideration :-)

[2022-01-08 16:22] #4562 closed, assigned to nobody

[2022-01-09 11:39] sinner- opened #4818 "Brave iOS 1.33 bookmarks no longer remembers previous location"
### Description:
In previous versions of Brave iOS when you tapped the bookmarks button it would return you to whichever folder you had previously been in.

As of the most recent update (1.33), tapping the bookmarks button takes you to the root bookmarks folder, in my case it's a single item titled "Mobile Bookmarks" which I have to tap again every time to tap an actual bookmark

### Steps to Repr

[2022-01-09 11:48] sinner- opened #4819 "Brave iOS 1.33 "Block Scripts" doesn't block js on first page load"
### Description:
I have Brave configured to always be in Private Browsing Only mode and with all shields enabled, including "Block Scripts".

I have a Twitter URL bookmarked (not logged in due to Private Browsing always being enabled), https://mobile.twitter.com/thegrugq - previously I would have to tap the shield and disable "Block Scripts".

As of the most recent update, when I tap the bookmark

[2022-01-09 16:05] iccub commented on #4818
Closing as duplicate of https://github.com/brave/brave-ios/issues/4789

[2022-01-09 16:05] #4818 closed, assigned to nobody

[2022-01-10 03:50] kjozwiak opened #4820 "settings menu stays opened when long tapping and opening bookmark via `Open in New Tab`"
### Description:

When you long tap an individual saved bookmark and select `Open in New Tab`, the bookmark is opened correctly in a new tab but the `Settings` menu stays opened rather than being closed. The `Setting` menu is dismissed correctly if you open bookmarks by long tapping the folder, but doesn't work for individual bookmarks.

### Steps to Reproduce

  1. download/install Brave (`1.34 (

[2022-01-10 10:49] #4802 closed, assigned to soner-yuksel

[2022-01-10 10:55] #4732 closed, assigned to Brandon-T, soner-yuksel

[2022-01-10 10:57] #4693 closed, assigned to soner-yuksel

[2022-01-10 11:04] #4144 closed, assigned to Brandon-T, soner-yuksel

[2022-01-10 11:06] #4440 closed, assigned to soner-yuksel

[2022-01-10 11:12] #3430 closed, assigned to Brandon-T

[2022-01-10 11:39] #4509 closed, assigned to Brandon-T

[2022-01-10 13:45] iccub opened #4821 "Update order of buttons on 'create sync chain' screen"
First primary button should be to scan qr code,
secondary button to start a new sync chain

[2022-01-10 13:54] srirambv commented on #4821
I'd say we keep as is and Android should change the order. Reason mentioned here https://github.com/brave/brave-browser/issues/20274#issuecomment-1008894549

[2022-01-10 15:36] nuo-xu opened #4822 "Add ability to fetch, add, modify, remove custom netoworks in settings"
### Description:

Matching desktop, add ability in settings to see a list of custom networks, add, modify, and remove custom networks.
DO NOT allow to remove current network.
Using EthJsonRpcController’s AddEthereumChain
![image](https://user-images.githubusercontent.com/1187676/148817602-3f157ffe-edb6-4678-b3b0-89921b86519c.png)
![Screen Shot 2022-01-10 at 11 10 09 AM](https://user-images.githubu

[2022-01-10 15:43] nuo-xu opened #4823 "Add ability to switch custom networks"
### Description:

Add ability to switch to the new networks. Using EthJsonRpcController’s SetNetwork and GetAllNetworks which are already used.

[2022-01-10 15:53] nuo-xu opened #4824 "Make sure send is working in Polygon mainnet"
### Description:

Make sure sends work on Polygon mainnet for testing

[2022-01-10 15:55] nuo-xu opened #4825 "Remove buy and swap ability for EVM compatible chains"
### Description:

Icon on the bottom to bring up Buy/Send/Swap menu should only list Send for now for EVM compatible chains.

Note: Edit visible asset list and asset list are different per network. I’d like to get rid of the decimals field and only show it when it’s an unknown chainId. Maybe we should do this at the same time?

[2022-01-10 16:06] nuo-xu opened #4826 "Built-in icons for the top chains"
### Description:

Built-in icons like our asset list icons for the top chains.  We can add some APIs before this objective is met but the other ones above should be do-able now.

[2022-01-10 16:06] #4400 closed, assigned to soner-yuksel

[2022-01-10 16:08] nuo-xu opened #4827 "Add a shortcut to add new custom network from all network selection dropdowns."
### Description:

An extra row at the last of the dropdown menu for users to click to shortcut to Add Network Screen.

![simulator_screenshot_751936E5-420D-4EEA-8579-35FA150C6AA5](https://user-images.githubusercontent.com/1187676/153895028-c46949cf-dcbe-4e34-92f9-dfc810e25043.png)

[2022-01-10 18:07] iccub opened #4829 "Update brave core to 1.35.x"

[2022-01-10 18:08] iccub opened #4830 "Add 1.35 translations"

[2022-01-10 18:47] iccub opened #4831 "Add 1.34 translations"

[2022-01-10 19:30] #4831 closed, assigned to nobody

[2022-01-10 21:48] kylehickinson commented on #3487
Hey @dave90dave I believe this is already fixed when we refactored the browser lock code. I did a quick test and found that it no longer bugged out when backgrounding with the keyboard open. I'm going to close this but if you find it happens again in the latest version please let me know!

[2022-01-10 21:48] #3487 closed, assigned to nobody

[2022-01-10 22:17] kjozwiak commented on #4831
Verification **PASSED** on `iPhone 6s+` running `iOS 14.6` using the following build:

[code]

* Verified the STR/Cases mentioned via https://github.com/brave/brave-ios/pull/4832#issue-1098253208

![IMG_0253](https://user-images.githubusercontent.com/2602313/148847755-bf67cf3f-f993-45bb-be04-89e6d0c62ac1.png)

------

Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using the following

[2022-01-10 22:31] kylehickinson commented on #4727
Fixed by #4831

[2022-01-10 22:31] #4727 closed, assigned to nobody

[2022-01-10 22:31] kylehickinson commented on #4724
Fixed by #4831

[2022-01-10 22:31] #4724 closed, assigned to nuo-xu

[2022-01-10 23:17] jonathansampson opened #4835 "Delete Site-Specific Data"
## Problem Description

It is currently not possible to delete data (e.g. localStorage, cookies, cache) for a specific domain. This type of feature is crucial for web-developers who may need to clear such data for continued testing and development (see also https://github.com/brave/brave-ios/issues/3594). It is likely helpful for many general users who may have submitted bad data, or otherwise fou

[2022-01-11 00:41] rmcfadden3 commented on #4395
@kylehickinson — your copy looks solid to me. I think it makes sense to split out into 2 separate messages, rather than trying to merge & generalize.

Couple small editing nits:

- "URL" should be in all caps in URL message body.
- Plaintext title should be in sentence case. So "Perform search" rather than "Perform Search"

[2022-01-11 00:45] #4438 closed, assigned to soner-yuksel

[2022-01-11 01:11] kjozwiak commented on #4727
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using the following build:

[code]

* Verified the STR/Cases mentioned via https://github.com/brave/brave-ios/issues/4727#issue-1078765049.

**`Japan`** | **`German`**
------------|----------------
![IMG_0509](https://user-images.githubusercontent.com/2602313/148862468-20777b8b-1985-4032-9a0c-4dd81ee5ca93.png) | ![IMG_0511](https://user-i

[2022-01-11 02:26] duaneking commented on #4835
I'm the guy who reported this to @jonathansampson

I critically need the ability to:
* Remove all cookies/data for a specific domain/tld being tested for compatibility with brave
* Remove all cookies/data for a specific domain/tld and all subdomains on that domain, but no other unrelated domains, for the same common scenario.

This gap is officially the reason why engineers I know at companies you

[2022-01-11 03:47] kjozwiak commented on #4724
Verification **PASSED** on `iPhone 6s+` running `iOS 14.6` using the following build:

[code]

* Verified the STR/Cases mentioned via https://github.com/brave/brave-ios/issues/4724#issue-1078295536.

**`Korean`** | **`Swedish`**
--------------|---------------------
![IMG_0258](https://user-images.githubusercontent.com/2602313/148878882-c27655e2-d369-490f-b050-cd156eb38fa7.png) | ![IMG_0259](https:

[2022-01-11 06:08] #4809 closed, assigned to kjozwiak

[2022-01-11 06:17] kjozwiak commented on #4808
Done 👍 Verification **PASSED** via the `WebAuthn` section on `iPad Air (3rd Gen)` running `iOS 15.2` using `1.34 (22.1.10.19)`

[2022-01-11 06:17] #4808 closed, assigned to stephendonner

[2022-01-11 06:19] kjozwiak commented on #4809
Verification **PASSED**  on `iPhone 6S+` running iOS 14.6` using `1.34 (22.1.10.19)`

[2022-01-11 06:37] kjozwiak commented on #4810
Verification **PASSED** on the `WebAuthn` section using `iPhone 11 running `iOS 15.1.1` with `1.34 (22.1.10.19)`

[2022-01-11 06:37] #4810 closed, assigned to srirambv

[2022-01-11 09:49] srirambv opened #4837 "Add support for Crypto Wallet"

[2022-01-11 09:49] #4837 closed, assigned to nobody

[2022-01-11 11:19] srirambv opened #4838 "Release notes for iOS v1.33 & v1.34"
Creating Releases Notes for both 1.33 and 1.34 as we missed adding release notes for 1.33

## Release Notes for iOS v1.33

- Added first steps of Brave Wallet (Dapps and EVM support in future releases).([#4837](https://github.com/brave/brave-ios/issues/4837))
- Implemented drag-and-drop option to rearrange favorites on New Tab Page. ([#3713](https://github.com/brave/brave-ios/issues/3713))
- Impro

[2022-01-11 14:37] NN--- opened #4839 "Option to disable link preview"
Please add option to disable link preview on long touch.
iOS.

[2022-01-11 15:51] sarraayush commented on #4839
may  i also contribute ? may someone help me to understand if i got stuck?

[2022-01-11 16:02] kylehickinson commented on #4839
@NN--- This feature already exists, when you long press on a URL while browsing you will see a menu below the preview window. The last option in that menu is "Hide Link Previews" (or "Show Link Previews" if you've already hidden it)

[2022-01-11 16:02] #4839 closed, assigned to nobody

[2022-01-11 16:09] NN--- commented on #4839
Thanks.
I looked in the application settings.
Would it be possible to add the option there too?
Thanks.

[2022-01-11 18:25] kylehickinson opened #4841 "Restore old tab tray animation"
### Description:

We recently refactored the tab tray and replaced the presentation animation with a standard sheet. Feedback suggests that users liked the old version better and so we should restore the transform-style animation

[2022-01-11 18:36] kjozwiak opened #4843 "Manual test run for `1.35`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] #4850
- [x] Verify saved passwords are retained after upgrade
- [x] Verify stats are retained after upgrade

[2022-01-11 18:46] #4473 closed, assigned to Brandon-T

[2022-01-11 22:19] anthonypkeane opened #4844 "Add ability to target specific platforms for NTPSI"
### Description:
Details in https://github.com/brave/brave-browser/issues/17450

Add the ability to target platforms, specifically 'ios', 'android', and 'desktop' for new tab page sponsored image campaigns.

NTPSI campaigns can then be targeted for one or two platforms with the default option that NTPSI campaigns are targeted for all platforms.

[2022-01-11 22:28] anthonypkeane commented on #4844
cc @bradleyrichter

[2022-01-12 10:08] #4838 closed, assigned to srirambv

[2022-01-12 15:20] NN--- commented on #2830
The missing feature from Firefox iOS.
Thanks for your work!

[2022-01-12 16:51] bsclifton opened #4845 "Unexpected behavior when using browser's back button after visiting a Brave Search result"
### Description:
When using Brave Search on iOS, it works fine (results shown, etc). If you visit a result and then try to go back (either with back button OR long press back button and then pick the Brave Search result) it doesn't work as expected.

### Steps to Reproduce
#### Case 1: back button skips search.brave.com
  1. Have Brave Search as default search and open a new tab
  2. Using URL bar

[2022-01-12 16:54] bsclifton commented on #4845
Reported to search team; it's being tracked here (may only be visible to Brave employees):
https://github.com/brave/search/issues/3491

Also possibly related to https://github.com/brave/search/issues/3428

[2022-01-12 18:36] Brandon-T opened #4848 "Printer Abuse Bug"
### Description:
1. A malicious website can abuse the `print` function of the browser via `window.print`

### Steps to Reproduce
  1. In Security Ticket.

[2022-01-12 21:18] Uni-verse opened #4850 "Verify that cookies from the previous build are preserved after upgrade"

[2022-01-12 21:19] #4850 closed, assigned to nobody

[2022-01-12 21:27] #4677 closed, assigned to nuo-xu

[2022-01-12 21:32] VaishaliDesai commented on #4794
Hello there, I would like to take up this good first issue to contribute to this repository.

[2022-01-12 21:57] staaky opened #4851 "Bookmarks icon no longer remembers mobile/desktop choice"
### Description:
Clicking the Bookmarks button no longer takes you to your most recent bookmark folder.

### Steps to Reproduce
  1. Tap the Bookmarks button.
  2. Tap ‘Mobile Bookmarks’.
  3. Hit one of your bookmarks, so the Bookmarks window closes.
  4. Tab the Bookmark button.
  5. You’re not taken to the Mobile bookmarks folder, step 2 will have to be repeated constantly when switching links.

[2022-01-12 23:08] VaishaliDesai commented on #4794
Somehow Git doesn't let me push my changes to the branch :/

[code]

[2022-01-12 23:34] kylehickinson commented on #4794
Hey @VaishaliDesai you have to fork brave-ios first to your own repository 🙂 After that you can push your changes to that new fork and open a PR from there

[2022-01-13 16:33] soner-yuksel commented on #4571
Moving this out of `1.35` Release since the Changes in Tab-Tray should be merged along with the Tab Search.

[2022-01-13 23:34] #4835 closed, assigned to nobody

[2022-01-14 15:48] #4429 closed, assigned to nobody

[2022-01-14 18:40] #4783 closed, assigned to soner-yuksel

[2022-01-14 18:43] #4848 closed, assigned to Brandon-T

[2022-01-14 19:33] VaishaliDesai commented on #4794
Thank you for your help @kylehickinson. This is my very first attempt in contribution to open source. Your comments helped me raised my first PR. Here it is https://github.com/brave/brave-ios/pull/4854.

[2022-01-14 19:47] #4814 closed, assigned to soner-yuksel

[2022-01-14 20:35] #4841 closed, assigned to kylehickinson

[2022-01-14 20:37] iccub commented on #4841
Copying over improvement suggestions from the pull request

Improvements that could happen: Instead of taking a screenshot of the NTP/web page we should use the actual BVC and do scale + anchorPoint animations so that we are safer from screenshot & final view not matching causing a slight mismatch.

[2022-01-14 21:22] #3396 closed, assigned to soner-yuksel

[2022-01-14 21:26] soner-yuksel commented on #3959
I figure out the reason behind why this is happening so I am removing the blocked label.

[2022-01-16 15:29] fulvi0 opened #4857 "Unable to use yubikey (fido) in Ipad"
### Description:

Hi,

I'm using brave recently, and I tried to login into my Google account with 2FA, using key (Yubikey), where the Browser popup a modal screen indicating to insert the key, ones I insert the key, doesn't go on, stay with the popup on. I try in Firefox, with the same process to login to my Google account and using the same yubikey, and works properly, maybe its an issue with Bra

[2022-01-17 17:16] Brandon-T commented on #4857
Solved by: https://github.com/brave/brave-ios/pull/4758

[2022-01-17 17:16] #4857 closed, assigned to Brandon-T

[2022-01-17 17:26] Brandon-T opened #4858 "WKContentWorld Sandboxing"
## Problem Description
- As of iOS 14+ we can use `WKContentWorld` to sandbox scripts so they are separated from the page

## Feature Overview
- Solves security issues where pages can call our custom message handlers and functions and XSS.
- Fixes potential exploits in JS injection by enforcing a sandboxing policy when injecting JS.

## Implementation Details
- All scripts injected must use an exp

[2022-01-17 17:45] soner-yuksel opened #4860 "Wrong Top Section Header Padding in various Screens"
## Description:

Wrong Top Section Header Padding for various controllers should be fixed.

**Actual result:**

### Search Suggestions Screen

![search-broken](https://user-images.githubusercontent.com/6643505/149811909-8637f86d-5dbf-4eff-8765-846c3a8f5266.png)

### Bookmarks Screens

![bookmark-broken](https://user-images.githubusercontent.com/6643505/149812557-80b1ea03-482c-4cf3-990a-63c77629eb7

[2022-01-17 18:16] soner-yuksel commented on #3014
Taking this ticket out of 1.35 cause we dont have url in memory all the time to make tab suggestions useful. Need futher investigation

[2022-01-17 21:08] ACodingGenie opened #4862 "Search Suggestions fail for Custom Search Engine After Relaunch"
### Description:
Adding a custom search engine via `Menu` ---> `Add Search Engine` allows the search suggestions to work properly. However, if you relaunch Brave, they no longer work and the search engine has to be deleted and re-added. This can be quite frustrating and not a new issue.

### Steps to Reproduce
  1. Add a custom search engine like SearX or Whoogle using `Menu` --> `Add Search Engin

[2022-01-17 21:31] Robodog63 opened #4863 "Great work on all-contributors!"
Great work on all-contributors!

Sometimes, I'm lazy and I paste a URL like `https://github.com/jakeBolam` into a comment - I'd love if all-contributors supported that. This PR adds support.

__Originally posted by @Skn0tt in https://github.com/all-contributors/app/pull/368__

[2022-01-18 20:27] #4778 closed, assigned to nobody

[2022-01-18 22:54] anthonypkeane opened #4865 "Implement Playlist Folders - Folder Creation"
### Description:
Search GDrive for "Playlist Folder Sharing" for a spec

This issue is for the Folder Creation feature

[2022-01-18 22:57] kylehickinson commented on #4865
Duplicate of #4352

[2022-01-18 22:57] #4865 closed, assigned to nobody

[2022-01-18 23:10] Uni-verse commented on #4783
Verification PASSED on `iPhone 12 Pro` running `iOS 15.1.1` and `iPhone X` running `iOS 14.4.2` using build

[code]

Acceptance Criteria:

1.  PASSED - Open new private window from context menu https://github.com/brave/brave-ios/issues/4783#issue-1090784718
2. PASSED - Using Scan QR Code from context menu with active private tab https://github.com/brave/brave-ios/issues/4783#issuecomment-100321982

[2022-01-18 23:23] Uni-verse commented on #4783
Was hoping you could provide the test steps for this. Are we keeping a private tab active for this? Thanks.

[2022-01-18 23:49] soner-yuksel commented on #4783
It is bug found over an existing feature. I believe it will be more than sufficient to test If other actions are working while default browser mode was active and  browser is closed entirely (swipe up to close/quit).

[2022-01-19 03:08] diracdeltas commented on #4819
i opened a similar report here: https://github.com/brave/brave-ios/issues/3010

the person who was working on it is no longer at brave so i'll try to get this re-prioritized

[2022-01-19 03:15] sinner- commented on #4819
Thanks Yan, I am a Twitter fan of yours.

[2022-01-19 13:51] #3190 closed, assigned to soner-yuksel

[2022-01-19 13:51] #3959 closed, assigned to soner-yuksel

[2022-01-19 15:10] #4863 closed, assigned to nobody

[2022-01-19 17:47] Uni-verse commented on #4841
Verification PASSED on `iPhone 12 Pro` running `iOS 15.1.1` using build `version 1.35 (22.1.14.22)`

- Verified transform-style animation is applied to tab tray

Test Scenarios (for each device)

- Access the tab tray as usual from the browser
- Add new tabs until the number of tabs exceeds the on-screen space
- Verify that tabs transform correctly even when the tab would be off-screen initially (

[2022-01-19 23:00] Uni-verse commented on #4561
Verification completed on following devices using build version `1.35 (22.1.14.22)`

PASSED on `iPhone 12 Pro` running `iOS 15.1.1`
PASSED on `iPhone X` running `iOS 14.4.2`
PASSED on `iPad (7th Gen)` running `iPadOS 14.4.2`

- Verified long press shows clipboard copy option
- Verified clipboard value matches the wallet address

Note: Was not able to import secondary account for testing.

UI on iP

[2022-01-20 00:19] kjozwiak commented on #4843
Closing as this was completed 👍

[2022-01-20 00:19] #4843 closed, assigned to Uni-verse

[2022-01-20 00:57] Uni-verse commented on #4802
Verification completed on following devices using build version `1.35 (22.1.14.22)`

**PASSED** on `iPhone 12` Pro running `iOS 15.1.1`
**PASSED** on `iPhone X` running `iOS 14.4.2`
**PASSED** on `iPad (7th Gen)` running `iPadOS 14.4.2`

- Verified 'No search result found' is displayed when not returning search match - https://github.com/brave/brave-ios/issues/4802#issue-1094446550
- Verified Sear

[2022-01-20 16:34] anthonypkeane opened #4868 "Please add tver.jp to the Japan whitelist for Playlist"
### Description:
Per https://bravesoftware.slack.com/archives/C2FQMN4AD/p1642653812031300?thread_ts=1642557776.011900&cid=C2FQMN4AD

Please add  tver.jp to the Japan whitelist for Playlist

[2022-01-20 16:48] #4239 closed, assigned to soner-yuksel

[2022-01-20 17:32] kjozwiak opened #4869 "Add skipValidation flag to request quota on swap"
Similar to https://github.com/brave/brave-browser/issues/20572. This also needs to get fixed on iOS and released ASAP.

[code]

CCing @kylehickinson @anthonypkeane @bsclifton @srirambv

[2022-01-20 17:58] Uni-verse commented on #4819
No repro for me on iPhone 12, iOS 15.1.1 using 1.33 and marketplace app.

@iccub

[2022-01-20 18:01] iccub commented on #4819
Thanks for checking @Uni-verse,
@sinner- are you able to reproduce it consistently? Is it only for twitter or other websites?

We tried to reproduce that within the iOS team and no luck.

On technical side we use Apple's webkit flag to fully disable javascript
https://developer.apple.com/documentation/webkit/wkpreferences/1536203-javascriptenabled

[2022-01-20 18:03] iccub opened #4870 "Add 1.35 translations"

[2022-01-20 21:11] #4858 closed, assigned to Brandon-T

[2022-01-20 21:20] Uni-verse commented on #4440
Verification completed on follow devices using build version `1.35 (22.1.14.22)`

**PASSED** - `iPhone 12 Pro` running `iOS 15.1.1`
**PASSED** -`iPad (7th Gen)` running `iPadOS 14.4.2`

https://github.com/brave/brave-ios/issues/4440#issue-1041082491

- Verified long press menu on tabs toolbar button.
- Verified long press menu on + toolbar button.
- Verified long press on address bar shows menu.
-

[2022-01-20 21:49] kylehickinson commented on #4570
Closed by #4859

[2022-01-20 21:49] #4570 closed, assigned to Brandon-T

[2022-01-20 21:50] kylehickinson commented on #4570
Marking as `QA/No`, superseded by #4858

[2022-01-20 22:58] #4868 closed, assigned to nobody

[2022-01-20 23:59] sinner- commented on #4819
Thanks for checking.

Yep I am able to reproduce it every time I try (every day).

Other sites don't seem affected, per original report another URL I have bookmarked is https://www.bloomberg.com/quote/XAUAUD:CUR and JS doesn't load there.

I notice the report from Yan in #3010 is from Nov 2020 but this definitely did not start affecting me back then, I only hit this after updating to 1.33 (21.12.1

[2022-01-21 00:21] iccub commented on #4819
@sinner- few things that could help us:
- test it on our public beta build, you can join here https://testflight.apple.com/join/Trcbh1o3
- test on another iOS device if you have any spare ones

- does it happen when you go to twitter manually by typing on url bar or do you have to access it by a bookmark or a new tab page favorite tile?
- does it happen if you are not in private browsing only mode

[2022-01-21 00:25] sinner- commented on #4819
Just tested the 3rd one (manual typing) and confirmed it still happens, tried a different twitter URL e.g. https://mobile.twitter.com/jeffsnider_aip

Tomorrow is the weekend here, will try and do some more testing of the other 3 tomorrow.

Thanks again.

[2022-01-21 01:07] staaky commented on #4851
Seems fixed in the latest release so I’ll close this

[2022-01-21 01:07] #4851 closed, assigned to nobody

[2022-01-21 01:26] Brandon-T opened #4871 "Some HTML properties not configurable in Brave-iOS"
### Description:
- HTMLMediaElement, HTMLAudioElement, and HTMLVideoElement do not have a configurable `src` attribute.

### Steps to Reproduce
  1. Visit: `https://app.close.com/`

**Actual result:**
- Login screen not showing

**Expected result:**
- Login screen should show.

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easily reproduced

**Brave Version:**
All

**Device det

[2022-01-21 03:59] kjozwiak commented on #4869
Closing as @kylehickinson pulled in the latest b-c and created `1.34.1 (22.1.20.22)`

[2022-01-21 03:59] #4869 closed, assigned to kylehickinson

[2022-01-21 04:01] kjozwiak opened #4873 "Manual test run for `1.34.1` on `iPad` running `iOS 14`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-21 04:01] kjozwiak opened #4874 "Manual test run for `1.34.1` on `iPhone` running `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-21 04:01] kjozwiak opened #4875 "Manual test run for `1.34.1` on `iPhone X` running `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-21 11:01] srirambv commented on #4875
Verification passed on iPhone XR with iOS 15.2 running 1.35 (22.1.20.22)

[2022-01-21 11:01] #4875 closed, assigned to srirambv

[2022-01-21 11:41] #4871 closed, assigned to Brandon-T

[2022-01-21 11:47] #4870 closed, assigned to nobody

[2022-01-21 11:59] iccub commented on #4324
Closing, we go for complete solution soon

[2022-01-21 11:59] #4324 closed, assigned to nobody

[2022-01-21 12:00] srirambv commented on #4869
Verification passed on iPhone XR with iOS 15.2 running 1.35(22.1.20.22)
- Verified steps from [brave/brave-core#11903](https://github.com/brave/brave-core/pull/11903)

Activate Token | Confirm Activation | Swap Enabled
-- | -- | --
![image](https://user-images.githubusercontent.com/17010094/150523593-684fcca7-edd5-4b83-8bbd-db93b6304e98.png) | ![image](https://user-images.githubusercontent.com/170

[2022-01-21 12:03] iccub opened #4876 "Onboarding screen reorganization"
We want to remove first screen and deprecate the intention to check user's clipboard for referral code.

[2022-01-21 12:20] iccub opened #4877 "Base work for allowing user to share playlist folders"
Look for `Playlist Shared folders iOS implementation spec` for more details

[2022-01-21 12:25] iccub opened #4878 "Integrate with Guardianconnect"
https://github.com/GuardianFirewall/GuardianConnect

[2022-01-21 12:27] iccub opened #4879 "VPN Billing Retry Changes"
Details can be followed in https://github.com/brave/brave-ios/pull/8040

[2022-01-21 12:30] iccub opened #4880 "Privacy hub - vpn alerts integration"
See `Privacy Report` project in figma.

Depends on https://github.com/brave/brave-ios/issues/4435

[2022-01-21 12:33] iccub opened #4881 "Custom background images"
Details TBA

[2022-01-21 12:38] iccub commented on #4333
duplicate of https://github.com/brave/brave-ios/issues/4438

[2022-01-21 12:38] #4333 closed, assigned to nobody

[2022-01-21 12:49] iccub commented on #4321
This got fixed some time ago

[2022-01-21 12:49] #4321 closed, assigned to nobody

[2022-01-21 13:06] fsheidaiee commented on #916
Hi its a mandatory option to disable pull to refresh specially for dex users with mouse and keyboard in android.
please make that option available again.
thank

[2022-01-21 14:01] iccub opened #4882 "Dapps support"

[2022-01-21 19:13] Uni-verse commented on #4873
Verification completed on `iPad (7th Gen)` using build version `1.34.1 (22.1.20.22)`

**PASSED** on `iPadOS 14.4.2`

Verified TP Scenarios per https://github.com/brave/brave-ios/issues/4873#issue-1110025958

[2022-01-21 20:24] LaurenWags opened #4883 "Manual test run for `1.34.1` on `iPad` running `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-21 20:44] LaurenWags commented on #4883
Tests above verified on `iPad mini` with iOS 15.2 using build version `1.34.1 (22.1.20.22)`.

[2022-01-21 20:44] #4883 closed, assigned to LaurenWags

[2022-01-21 20:46] Uni-verse commented on #4631
Verification completed on `iPhone 12 Pro` running `iOS 15.1.1` using build version `1.35 (22.1.21.14)`

**PASSED** - Tapping on rewards panel and dragging/rotating greater than 45 degrees does not cause crash - https://github.com/brave/brave-ios/issues/4631#issue-1070982889

https://user-images.githubusercontent.com/17885425/150597875-a3c7a362-82ba-454b-98a2-3c2d4c5c5a10.MP4

[2022-01-21 20:50] Uni-verse commented on #4631
Verification completed on `iPad (7th Gen)` running `iPadOS 14.4.2` using build version `1.35 (22.1.21.14)`

**PASSED** - Tapping on rewards panel and dragging/rotating greater than 45 degrees does not cause crash - https://github.com/brave/brave-ios/issues/4631#issue-1070982889

[2022-01-21 21:52] Uni-verse commented on #4438
Verification completed on the following devices using build version `1.35 (22.1.21.14)`

**PASSED** on `iPhone 12 Pro` running `iOS 15.1.1`
**PASSED** on `iPad (7th Gen)` running `14.4.2`

- Verified when you open downloads it will open Files.app in 'downloads' location.

https://user-images.githubusercontent.com/17885425/150605053-17954b93-cdb9-4a2c-9ecc-7b5d1eeba0cf.MP4

[2022-01-21 22:00] #4873 closed, assigned to Uni-verse

[2022-01-21 23:07] kjozwiak commented on #4874
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.34.1 (22.1.20.22)`

[2022-01-21 23:07] #4874 closed, assigned to kjozwiak

[2022-01-22 00:22] Uni-verse commented on #4400
Verification completed on `iPad (7th Gen)` running `iPadOS 14.4.2` using `1.35 (22.1.21.14)`

Keyboard: Apple Smart Keyboard

Enhancement Acceptance Criteria - https://github.com/brave/brave-ios/pull/4786#issue-1091235382

**UI Changes**

- Verified new shortcuts are added to the keyboard shortcuts guide (hold ⌘)
- Verified "Find Next" and "Find Previous" are shown in the keyboard shortcuts guide

[2022-01-22 19:24] anthonypkeane opened #4885 "Items are not deleting from Playlist - UI not updating"
### Description:

Reported by a user https://appfigures.com/reviews/42132121512LQO0K0IIsuTm95iux_cOSCw?lang=en and by Brendan

https://user-images.githubusercontent.com/7606853/150652653-892391ed-3a50-42d3-9f47-acfd4919c785.MP4

### Steps to Reproduce
  1. Add an item to Playlist
  2. Swipe to try and delete it

**Actual result:**
UI won't refresh and the item appears to be not deleted (when fixin

[2022-01-24 03:18] srirambv opened #4886 "Release Notes for iOS v1.34.1"
- Fix ERC20 token swap when allowance is low. [#4869](https://github.com/brave/brave-ios/issues/4869)

[2022-01-24 04:05] #4886 closed, assigned to nobody

[2022-01-24 14:47] #4830 closed, assigned to nobody

[2022-01-24 18:47] kjozwiak commented on #3959
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.35 (22.1.24.16)`

* verified the STR/Cases outlined via https://github.com/brave/brave-ios/issues/3959#issue-952879669
* ensured that the icons are clear/visible
* ensured that the `Quick Search` bar is being displayed when a user types into the URL/omnibox
* ensured that `Bing`, `DDG`, `Ecosia`, `Google`, `Qwant` & `Startpage` a

[2022-01-24 19:47] Uni-verse commented on #4860
Verification completed on  using 1.35 `(22.1.24.16)`

**PASSED** on `iPhone 12 Pro` running `iOS 15.1.1`
**PASSED** on `iPhone X` running `iOS 14.4.2`

- Verified Search Suggestion Screen
- Verified Bookmarks Screen
- Verified Custom Search Engine Screen

Search Screen | Search Screen
----------------|----------------
![IMG_2362](https://user-images.githubusercontent.com/17885425/150851936-ef4d263

[2022-01-24 20:30] kjozwiak opened #4890 "using `MOZMBA` as attribution when searching using Bing"
### Description:

When searching via Brave within iOS, we use `MOZMBA` as the search attribution. I'm pretty sure this belongs to Mozilla which means any Brave user searching with Bing is generating revenue for Mozilla. @iccub confirmed that we basically use the same code we pulled so I'm pretty sure this belongs to Mozilla.

[code]

### Steps to Reproduce

  1. launch Brave
  2. Using Bing, perfo

[2022-01-24 20:36] mke21 commented on #4560
I have this sync problem as well. I have a windows 10 and a Manjaro Linux laptop in the sync chain together with an iPhone 8. The two laptops sync just fine, but the phone stops syncing after being added to the chain. It syncs once, then stops. I have to remove it from the chain, delete all bookmarks and then add it to the chain again in order to get my bookmarks synced.
Seems like this bug has be

[2022-01-24 20:50] kjozwiak commented on #4890
Desktop & Android has a similar issue as per https://github.com/brave/brave-ios/issues/4890 but uses `CHROMN` rather than `MOZMBA`.

[2022-01-24 20:57] kjozwiak opened #4891 "can't dismiss/slide down the `Quick Search` settings menu"
### Description:

Attempting to dismiss the `Quick-Search Engines` settings menu by sliding it downwards doesn't work. User needs to click on `< Search` to go back to the main `Search` settings page to then be able to dismiss the settings page.

### Steps to Reproduce

  1. install/launch Brave (doesn't matter which version as this is currently in the release)
  2. go into `Settings` -> `Search En

[2022-01-24 20:57] kjozwiak commented on #3959
Created the following issues while running through the above:

* https://github.com/brave/brave-ios/issues/4890
* https://github.com/brave/brave-browser/issues/20659
* https://github.com/brave/brave-ios/issues/4891

[2022-01-24 21:25] babbage1986 commented on #4560
Have complained about this on the Brave Community site to no avail.  Brave doesn't seem to care.  The only 'solution' is to break the sync chain, delete Brave on iOS devices, reinstall, and re-establish the sync chain.  But that just works one time, if you change any bookmarks on any device you have to go through it all again.  Safari may be the solution but hardly ideal for me.

[2022-01-24 21:27] kjozwiak commented on #3190
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.35 (22.1.24.16)`
* Verification **PASSED** on `iPhone 11` running `iOS 14.7.1` using `1.35 (22.1.24.16)`
* Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 14.7.1` using `1.35 (22.1.24.16)`

Verifications were completed via https://github.com/brave/brave-ios/issues/3959#issuecomment-1020426927 which also covers the

[2022-01-24 21:44] Uni-verse commented on #4814
Verifications completed using 1.35 (22.1.24.16)

**PASSED** on `iPhone 12` Pro on `iOS 15.1.1`
**PASSED** on `iPhone X` on `iOS 14.4.2`
**PASSED** on `iPad (7th Gen)` on `iPadOS 14.4.2`

- Verified 'Save Logins' Text and Switch is hidden when text filter field is in focus
- Verified user is able to edit saved logins
- Verified saved login matches are shown with search

https://github.com/brave/bra

[2022-01-24 22:03] kjozwiak commented on #4214
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.35 (22.1.24.16)`

**`Light Theme`** | **`Dark Theme`**
--------------------|--------------------
![IMG_0529](https://user-images.githubusercontent.com/2602313/150872972-e8b783cd-f5dd-48aa-aa39-a9db7dff5e87.jpg) | ![IMG_0531](https://user-images.githubusercontent.com/2602313/150872988-4b0e03c3-2ad1-41e0-9eed-6fb406deff3d.jpg)
![IM

[2022-01-24 23:11] Uni-verse commented on #4693
Verification completed using `1.35 (22.1.24.16)`

**PASSED** on `iPhone 12` running `iOS 15.1.1`
**PASSED** on  `iPhone X` running `iOS 14.4.2` tested on build version `1.35 (22.1.24.23)`

- Verified when user skips through the onboarding modal that the brave rewards icon is not greyed out.
- Verified brave icon appears in information state when skipping onboarding screens.
- Verified user is able

[2022-01-25 01:09] Uni-verse commented on #4835
Verification completed using `1.35 (22.1.24.23)`

**PASSED** on `iPhone 12` running `iOS 15.1.1`
**PASSED** on `iPad (7th Gen)` running `iOS 15.2.1`
**PASSED** on `iPhone X` running `iOS 14.4.2`

- Verified user is able to visit Manage Website Data (Settings > Brave Shields & Privacy > Manage Website Data)
- Verified website data appears
- Verified "Remove All" clears all website data
- Verify emp

[2022-01-25 01:11] kjozwiak commented on #4871
Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.35 (22.1.24.23)`

**`1.34 (22.1.10.19)`** | **`1.35 (22.1.24.23)`**
--------------------|--------------------
![IMG_0533](https://user-images.githubusercontent.com/2602313/150891451-ba4e5aa2-255d-48d7-b0c8-146c7f832d5a.png) | ![IMG_0534](https://user-images.githubusercontent.com/2602313/150891464-0fd7c94f-752b-4dde-9ade-c755c0c13

[2022-01-25 01:22] kjozwiak commented on #4732
* Verification **PASSED** on `iPhone 12` running `iOS 15.1.1` using `1.35 (22.1.24.23)`
* Verification **PASSED** on `iPhone 11` running `iOS 14.7.1` using `1.35 (22.1.24.23)`
* Verification **PASSED** on `iPad Air (3rd Gen)` running `iOS 15.2` using `1.35 (22.1.24.23)`

**`iPhone 12 iOS 15.1.1`** | **`iPhone 11 iOS 14.7.1`** | **`iPad Air (3rd Gen) iOS 15.2`**
-----------------------------|------

[2022-01-25 01:55] srirambv commented on #4891
If you tap on the top of settings menu then it hides. Thats a work around if needed. It works on all menu items

[2022-01-25 03:45] sterlingralph commented on #4560
Having this issue as well, really unfortunate since it will likely cause me to switch back to Chrome or Safari if not fixed. I hope its being looked at as the high-priority that it is for many users. Things like sync are basic and expected of browsers at this point, and Brave's implementation is absolutely fantastic...when it works.

This has gotten loads of [attention](https://community.brave.com

[2022-01-25 08:50] srirambv commented on #4562
Verification passed on the following devices running 1.35 (22.1.24.23)
- Verified test plan from [#4816](https://github.com/brave/brave-ios/pull/4816)
- Verified new accounts are listed without having to navigate back from the screen

iPhone 7+ (iOS 14.8.1) | iPhone XR (iOS 15.2) | iPad Pro (iOS 15.3)
-- | -- | --
<video src=https://user-images.githubusercontent.com/17010094/150943355-6ba7ea9c-b08

[2022-01-25 10:00] srirambv opened #4893 "Searching a token and loading the details doesn't allow for the Send/Swap buttons to work"
### Description:
Searching a token and loading the details doesn't allow for the Send/Swap buttons to work

### Steps to Reproduce
Scenario 1:

  1. Clean profile
  2. Click on search asset
  3. Search for BAT
  4. Select BAT from the list, loads asset details
  5. Tap on Buy/Send/Swap doesn't load the respective action sheet

Scenario 2:

  1. Clean profile
  2. Add a custom asset say TUSD
  3. O

[2022-01-25 10:37] srirambv commented on #4677
Verification passed on iPhone 7+ with iOS 14.8.1 running 1.35 (22.1.24.23)
- Verified steps from  [#4756](https://github.com/brave/brave-ios/issues/4756)
- Verified selecting an asset from portfolio page and selecting Buy/Send/Swap from asset page prepopulates the token in Buy/Send/Swap from fields
- Verified on Mainnet selecting Buy sets `BAT` as default asset to be bought
- Verified on Mainnet s

[2022-01-25 16:39] ukheather commented on #4560
I started a thread on the main forum with steps to follow to replicate this.
It affects everyone on iOS

https://community.brave.com/t/brave-sync-on-ios-is-completely-broken-and-has-been-for-many-months-plus-other-bugs-with-sync-on-ios-too-ios-if-you-have-ios-please-read/306368

[2022-01-25 20:11] Uni-verse commented on #3396
Verification completed using build version`1.35 (22.1.24.23)`

**PASSED** on `iPhone 12 Pro` running `iOS 15.1.1`
**PASSED** on `iPhone X` running `iOS 14.4.2`
**PASSED** on `iPad (7th Gen)` running `iOS 15.2.1`

- Verified open tab tray functionality
- Verified try searching different queries
- Verified switching to private mode and check the bar is not presented when private mode information is

[2022-01-25 21:24] anthonypkeane opened #4895 "Potential issue while downloading items"
### Description:
User Review: https://appfigures.com/reviews/42132121512LVNkLCxHt3fdyhDXtfab0jQ?lang=en

[2022-01-25 21:30] kylehickinson opened #4896 "Opening Brave Wallet from landscape orientation doesn't force portrait"
### Description:

If you open Brave Wallet while you're in landscape it can get into some weird states

### Steps to Reproduce
  1. Rotate to landscape
  2. Open the menu
  3. Open Brave Wallet

**Actual result:**

Brave Wallet presents in landscape despite only supporting portrait mode. Also further rotation can cause some strange bugs:

![IMG_5130](https://user-images.githubusercontent.com/52910

[2022-01-25 21:31] anthonypkeane opened #4897 "Playlist, resume video - potential issue"
### Description:
https://appfigures.com/reviews/42132121512LP4Q8GK8Wv4EoXZhq8VKVQg?lang=en

User reporting that Playlist isn't resuming video correctly

Update Jan 2022
Saved videos get the title of the channel and not the actual title of the clip!

[2022-01-25 21:43] Uni-verse commented on #4860
Verification **PASSED** on `iPad (7th Gen)` running `iOS 15.2.1` using build version `1.35 (22.1.24.23)`

- Verified Search Suggestion Screen
- Verified Bookmarks Screen
- Verified Custom Search Engine Screen

Search | Bookmarks | Settings
-|-|-
![IMG_0112](https://user-images.githubusercontent.com/17885425/151064353-cad1d3ef-66e1-4b4b-90c7-441eb6d969f4.PNG) | ![IMG_0119](https://user-images.githu

[2022-01-25 21:47] #4860 closed, assigned to soner-yuksel

[2022-01-25 22:43] tevitabyday commented on #3222
+1 Patiently waiting for this to become a feature, cannot wait! Keep up the great work Brave Team!

[2022-01-26 00:25] Uni-verse commented on #4239
Verification completed using `1.35 (22.1.24.23)`

**PASSED** on `iPhone 12 Pro` running `iOS 15.1.1`
**PASSED** on `iPad (7th Gen)` running ` iOS 15.2.1`
**PASSED** on `iPhone X` running `iOS 14.4.2`

- Verified open 15+ new tabs, make sure new wallpapers show up. - https://github.com/brave/brave-ios/pull/4866#issue-1109252280

- Verified proper attribution attached.
- Verified able to view wallpa

[2022-01-26 01:59] Uni-verse commented on #4830
Verification completed using build version 1.35 (22.1.24.23)

**`PASSED`** on `iPhone 12 Pro` running `iOS 15.1.1`
**`PASSED`** on `iPad (7th Gen)` running `iOS 15.2.1`
**`PASSED`** on `iPhone X` running `iOS 14.4.2`

- Verify website data is translated when changing the device language - https://github.com/brave/brave-ios/pull/4888#issue-1112698601
- Verify user is able to edit/delete web data

i

[2022-01-26 16:28] #4893 closed, assigned to nuo-xu

[2022-01-26 16:29] #4890 closed, assigned to nobody

[2022-01-26 16:48] Brandon-T commented on #4560
Hi. We are still looking into it. It is very hard to reproduce this issue on my devices.
Question: Are you syncing only bookmarks? Are you syncing both Bookmarks and History?

As for the feature request to reset sync or force it, and view its internals, there is a [PR](https://github.com/brave/brave-ios/pull/4749) solving that [Issue](https://github.com/brave/brave-ios/issues/4748) coming soon.

W

[2022-01-26 17:03] iccub opened #4899 "Brave Search suggestion shows 'beta' label"
### Description:

### Steps to Reproduce
  1. Set BraveSearch as default
  2. Enable search suggestion
  3. Start typing something

**Actual result:**
![Image from iOS](https://user-images.githubusercontent.com/6950387/151210840-79761a4a-fbd4-447c-b446-9af901d0b924.jpg)

**Expected result:**

**Reproduces how often:** [Easily reproduced, Intermittent Issue]

**Brave Version:**

**Device details:**

[2022-01-26 17:25] #4899 closed, assigned to iccub

[2022-01-26 17:28] smileys29 commented on #4560
For me, I'm setup to sync both history and bookmarks on all iOS devices (3 total).  The sync seems to drop after about 5 days.  I've not tested on a daily basis to see how quickly it loses truly loses the sync.

Another point, when the sync is lost on the iOS device (i wasn't aware it had become lost)... I tried to use my iPhone as the sync source for a new browser i setup and the presented text s

[2022-01-26 18:08] babbage1986 commented on #4560
Brandon-T it's unfortunate for us that you are having difficulty replicating the problem.  I use Apple products throughout, maybe the problem doesn't appear if your desktop is Windows?  I have no difficulty with replication, in fact, sync ONLY works after a full re-install and setting up a new chain.  However, as smileys29 suggests it may take a few days to appear, I haven't tested that.

[2022-01-26 19:07] Brandon-T opened #4902 "Deleting Item from CoreData does not update the NSFetchResultControllers"
### Description:
- Deleting an item in CoreData deletes the item, but only updates controllers when restarting the app or the screen.

### Steps to Reproduce
  1. See the PR's Test-Plan: https://github.com/brave/brave-ios/pull/4901

**Actual result:**
- GUIs don't update

**Expected result:**
- UIs should update

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easily reproduced.

[2022-01-26 19:46] #4885 closed, assigned to Brandon-T

[2022-01-26 20:41] Uni-verse commented on #3430
Verification completed using build version `1.35 (22.1.26.17)`

**PASSED** on `iPhone X` running iOS 14.4.2
**PASSED** on `iPhone 12 Pro` running `'iOS 15.1.1'`
**PASSED** on `iPad (7th Gen)` running `iPadOS 15.2.1`

https://github.com/brave/brave-ios/pull/4763#issue-1086274331
- Test session restore
- Test opening pages in new tabs
- Test private browsing tab tray
- Test performance (open many ta

[2022-01-26 21:24] Uni-verse commented on #4899
Verification completed using build version `1.35 (22.1.26.17)`

**PASSED** on `iPhone X` running `iOS 14.4.2`
**PASSED** on `iPhone 12 Pro` running `'iOS 15.1.1'`
**PASSED** on `iPad (7th Gen)` running `iPadOS 15.2.1`

- Verified 'Brave Search' is shown beneath the search field when brave is default search engine - https://github.com/brave/brave-ios/issues/4899#issue-1115253577

iPhone 12 | iPhone

[2022-01-26 21:34] anthonypkeane commented on #2345
The selected default search engine should not show up in the Search Suggestions list

Looks like we have a bug

Context: https://bravesoftware.slack.com/archives/C06UXF3KJ/p1643050245054800

[2022-01-26 23:25] Uni-verse commented on #4890
Verification completed using build version `1.35 (22.1.26.20)`

**PASSED** on `iPhone X` running `iOS 14.4.2`
**PASSED** on `iPhone 12 Pro` running `'iOS 15.1.1'`
**PASSED** on `iPad (7th Gen)` running `iPadOS 15.2.1`

- Verified MOZMBA attribution is removed when using Bing Search in a new tab - https://github.com/brave/brave-ios/issues/4890#issue-1113109543
-Verified removed while searching in p

[2022-01-27 01:15] Uni-verse opened #4904 "Playlist Icon missing when loading video [iPad Only]"
### Description:
Playlist Icon missing in address bar when loading videos

**iPhone not impacted**

### Steps to Reproduce
  1. Open New Tab
  2. Navigate to Video Site (i.e youtube.com, twitch.tv)
  3. From the landing page, click to play a video
  4. Observe the address bar

**Actual result:**
Playlist Icon missing when playing a video

https://user-images.githubusercontent.com/17885425/15127311

[2022-01-27 01:26] brnnnfx opened #4905 "JavaScript operators appear instead of the destination URL as headers of long-press menus launched from certain hyperlinks & link buttons"
### Description:
JavaScript operators appear instead of the destination URL as headers of long-press menus launched from certain hyperlinks & link buttons

### Steps to Reproduce
  1. On Brave for iOS, navigate to [comc.com](https://www.comc.com/)
  2. In the search bar at the top of the page, search for a popular athlete, such as "Sidney Crosby"
  3. Long-press on a price underneath one of the sp

[2022-01-27 01:43] kjozwiak commented on #4902
Closing this off as https://github.com/brave/brave-ios/pull/4901 was merged and QA already received a TF build with the fix.

[2022-01-27 01:43] #4902 closed, assigned to Brandon-T

[2022-01-27 01:45] Uni-verse commented on #4885
Verification completed using `1.35 (22.1.26.20)`

**PASSED** on iPhone 12 Pro running `iOS 15.1.1`
**PASSED** on iPhone X running `iOS 14.4.2`
**PASSED** on iPad (7th Gen) running` iOS 15.2.1`

https://github.com/brave/brave-ios/issues/4885#issue-1111664567
- Verified user is able to add video to playlist
- Verified user is able to remove the video from playlist by swiping to delete

- Verified us

[2022-01-27 01:47] kjozwiak opened #4906 "fix spacing at both ends of the URL bar"
### Description:

We should fix the spacing in the URL bar at both ends. As per the example mentioned below, you can tell that there's more spacing on the right hand side compared to the left hand side. We should make this symmetrical.

### Steps to Reproduce

  1. launch brave (used `1.35 (22.1.26.20)` in this case but any version will do)
  2. load any website and notice the spacing at both ends

[2022-01-27 01:48] Uni-verse commented on #4885
**Blocked** by https://github.com/brave/brave-ios/issues/4904

[2022-01-27 16:06] #4904 closed, assigned to Brandon-T

[2022-01-27 17:10] dimazuien commented on #375
+1, would be very nice to have

[2022-01-27 18:36] AlexeyBarabash opened #4908 "Sync QR code scanning error text"
Similar to https://github.com/brave/brave-browser/issues/20742

From
https://www.reddit.com/r/brave/comments/se32k7/how_do_i_go_around_this/ and Slack discussion

when device tries to connect via version 1 QR code, it gets
[code]

it should be instead
[code]
UPD:
if device is trying to connect to the sync QR code where `version` field is greater than current `2`, it should give such error:

[code]

[2022-01-27 20:34] #4829 closed, assigned to nobody

[2022-01-27 20:51] hi-drew commented on #4560
I've noticed this within the past couple weeks, pretty frustrating. Love using brave but the sync feature is crucial imo, hope this gets solved. Thanks for the hard work.

[2022-01-27 21:50] bsclifton commented on #3228
Hey there folks! Sorry there hasn't been an update in a while! You may have noticed we recently added the password screens into the app 😄 @soner-yuksel is working on this now and can provide an update really soon! (maybe some screenshots too)

[2022-01-27 22:55] Uni-verse commented on #4904
Verification **PASSED** on `iPad (7th Gen)` running `iOS 15.2.1` using build version `1.35 (22.1.27.21)`

- Verified playlist icon is showing in the address bar when playing a video
- Verified user is able to add/remove video to playlist
- Verified playlist icon is shown in private tab

![IMG_0133](https://user-images.githubusercontent.com/17885425/151456680-527cae29-6e9d-4983-bcf9-4fcb867c40ad.PN

[2022-01-27 23:11] Uni-verse commented on #4885
Fix Verified - https://github.com/brave/brave-ios/pull/4907

[2022-01-28 05:29] srirambv opened #4911 "Brave Wallet / Brave Swap: Displaying Brave DEX Aggregator"
iOS version of https://github.com/brave/brave-browser/issues/20463

Needs to replace `Brave Dex Aggregator` on quick action sheet to `Swap tokens and assets`

[2022-01-28 06:06] srirambv opened #4912 "Show active transactions and token balances in the panel"
iOS Version of [#19533](https://github.com/brave/brave-browser/issues/19533)

[2022-01-28 17:25] Uni-verse commented on #4902
Verification completed using `1.35(22.1.27.21)`

**PASSED** on `iPhone 12 Pro` running `iOS 15.1.1`
**PASSED** on `iPhone X` running `iOS 14.4.2`
**PASSED** on `iPad (7th Gen)` running `iPadOS 15.2.1`

https://github.com/brave/brave-ios/pull/4901#issue-1115381231
- Verified deleting item from playlist is immediately reflected in the UI
- Verified deleting recent searches is immediately reflected i

[2022-01-28 18:12] soner-yuksel commented on #3228
Hi folks, sorry for my late reply. I would like give a quick update about the past, on-going and future progress related to sync and passwords.

### What's released until now:

- As you are all well-aware we released in `1.33` Login & Passwords Screen and LoginsHelper Improvements brave/brave-ios#4124 for local credentials. This change provides the UI functionality to save / search / update / dele

[2022-01-28 21:55] tmancey opened #4914 "Fix Brave Ads conversions"
### Description:

### Steps to Reproduce
  1. See https://github.com/brave/brave-browser/issues/19943

**Actual result:**
Ads are not converted

**Expected result:**
Ads should be converted

**Reproduces how often:** [Easily reproduced, Intermittent Issue]
Easily reproduced

**Brave Version:**

**Device details:**

**Website problems only:**
- did you check with Brave Shields down?
- did you check

[2022-01-28 21:58] Brave-Matt opened #4916 "YouTube history is not saved when "block cross-site cookies" is enabled"
### Description:
When on youtube.com (signed in), it seems that Youtube history is not recorded when the `Block cross-site cookies` option is enabled in Shields. Note that this issue was not present in the the previous version of the browser (v1.33x). I only saw the issue occur after updating to v1.34.1.

### Steps to Reproduce
  1. Visit YouTube.com
  2. Sign into your Youtube account
  3. Visit

[2022-01-28 22:19] Uni-verse commented on #4893
Verification completed using `1.35 (22.1.27.21)`

**PASSED** on `iPhone 12 Pro` running `iOS 15.1.1`
**PASSED** on `iPhone X running` `iOS 14.4.2`
**PASSED** on `iPad (7th Gen)` running `iPadOS 15.2.1`

https://github.com/brave/brave-ios/issues/4893#issue-1113673518

**Verified Scenario**: Tapping on Buy/Send/Swap buttons in the asset details after searching will display the respective action shee

[2022-01-29 07:15] eguun commented on #3228
Thanks. This is great news and significant progress.

Please keep in your radar that sync is broken for IOS since months:
https://community.brave.com/t/ios-sync-wont-work-sync-communication-error/289995/10

Would be lovely if this updates also fixes this sync issue.

Thanks

On Fri, 28 Jan 2022 at 19:12, Soner YUKSEL ***@***.***> wrote:

[2022-01-30 02:09] sinner- commented on #4819
Ok sorry for the delay but tested all of this:

1. Still affected on beta build
2. Tested on my partners device, enabled "block scripts" and it worked as expected (JS blocked on first load).
3. As mentioned above it does happen when typing manually
4. I turned off private browsing only mode and it still happens from both a private tab and normal tab.

Just to clarify again, in all cases, as soon a

[2022-01-30 02:15] sinner- commented on #4819
By the way, if I go to the JSFiddle site and noscript test site mentioned in #3010, the scripts are correctly blocked for me lol.

[2022-01-31 08:28] andybn commented on #4560
+1 Sync between MAC laptop and IOS is not working anymore. I tried to remove the IOS device and resync but it is stucked and it is not synchronizing anything. For me it is also a crucial feature. Imo I will have to return to Chrome in the meanwhile :( Thanks!.

[2022-01-31 09:01] pattyland opened #4918 "IDN domains not working"
### Description:
All domains with special letters such as an ö triggers a Google search instead of display the website.

### Steps to Reproduce
  1. Enter "ö.de" in the URL bar
  2. Hit open
  3. Be disappointed

**Actual result:**
A Google search for "ö.de" is started

**Expected result:**
Calling up the ö.de page or its redirection to https://www.dasoertliche.de/

**Reproduces how often:** [Easi

[2022-01-31 17:39] kjozwiak opened #4919 "Manual test run for `1.35` on `iPad` running `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-31 17:39] kjozwiak opened #4920 "Manual test run for `1.35` on `iPhone` running `iOS 15`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-31 17:39] kjozwiak opened #4921 "Manual test run for `1.35` on `iPhone/iPad` running `iOS 14`"
## Installer

- [x] Check that installer is close to the size of the last release
- [x] Check the Brave version in About and make sure it is EXACTLY as expected

## Data

- [x] Verify that data from the previous build appears in the updated build as expected (bookmarks, history, etc.)
- [x] Verify that cookies from the previous build are preserved after upgrade
- [x] Verify saved passwords are ret

[2022-01-31 21:22] Uni-verse commented on #4848
Verified on `iPhone 12 Pro` running `iOS 15.1.1` using `1.35 (22.1.30.17)`

- Verified suppress message will prevent the print window modal from repeatedly showing.

Note : Suppress message shows up twice

https://user-images.githubusercontent.com/17885425/151874777-5d3ba97f-eded-4093-8b2e-4e1d9fc825bd.MP4

--------------------------------

Verification **PASSED** on `iPhone 12` running `iOS 15.2.

[2022-01-31 21:51] Uni-verse opened #4922 "Suppress alerts window shows twice for print window site scripts"
### Description:
Suppress alerts window shows up again after enabling for print window site scripts

Reference: https://github.com/brave/brave-ios/issues/4848
### Steps to Reproduce
  1. Load url: `https://brandon-t.github.io/WindowPrint.html`
  2. After page loads, dismiss print window after its displayed
  3. Tap on the `Suppress Alerts` toast message when it appears

**Actual result:**
Suppress

[2022-01-31 22:21] kylehickinson opened #4923 "Clearing recent searches does not update UI and is hard to tap"
### Description:

The "clear" button on recent searches does not update the UI after using it. It's hit box is also too small and is difficult to tap

The clear button is too far from the edge as well

### Steps to Reproduce
  1. Search with the Recent Searches preference enabled
  2. Open a new tab and tap on the URL bar
  3. Tap clear, and then "Clear Recent" when the action sheet appears

**Act

[2022-01-31 22:29] kjozwiak commented on #4848
QA found https://github.com/brave/brave-ios/issues/4922 while running through the above 👍 Thanks for getting the issue filed @Uni-verse.

[2022-01-31 22:36] Brandon-T commented on #4923
Should be fixed by: https://github.com/brave/brave-ios/pull/4901
Will double check and also check the `hard to tap` issue.

[2022-01-31 23:25] anthonypkeane opened #4924 "Keyboard shortcut - switching tab using cmd+number"
### Description:
https://appfigures.com/reviews/42132121512LTEKA0tciMvSCnyzhlK4HXA?lang=en

The user is requesting that we add the ability to switch tabs by using cmd+number like Safari.

[2022-02-01 10:20] pashynskykh opened #4925 "System navigation bar overlaps site's navigation bar"
### Description:
System navigation bar overlaps site's navigation bar. At least Google News is affected.

### Steps to Reproduce
  1. Go to news.google.com.
  2. Scroll down to go full screen.
  3. System navigation bar overlaps site's navigation bar.

**Actual result:**
System navigation bar overlaps site's navigation bar:
![IMG_6730](https://user-images.githubusercontent.com/14852335/151951219-b